#pybossa-notification{
    width: 100%;
    padding: 0.25em 1em;}

.hide-notification{
    display: none;}

.mdi-checkbox-marked-circle-outline,.mdi-comment-alert-outline,.mdi-alert-circle,.mdi-alert-outline{
    font-size: 1.5em;}

.mdi-window-close{
    float: right;
    font-size: 1em;}
    
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
.alert-success {
  color: #0e6c5e;
  background-color: #d1f5f0;
  border-color: #bff2ea; }
  .alert-success hr {
    border-top-color: #aaeee3; }
  .alert-success .alert-link {
    color: #083f37; }

.alert-info {
  color: #0d4876;
  background-color: #d1e8f9;
  border-color: #bfdef7; }
  .alert-info hr {
    border-top-color: #a8d2f4; }
  .alert-info .alert-link {
    color: #082c48; }

.alert-warning {
  color: #84700a;
  background-color: #fff7d0;
  border-color: #fff4bd; }
  .alert-warning hr {
    border-top-color: #fff0a4; }
  .alert-warning .alert-link {
    color: #554806; }

.alert-danger {
  color: #84404e;
  background-color: #ffe5ea;
  border-color: #ffdae2; }
  .alert-danger hr {
    border-top-color: #ffc1ce; }
  .alert-danger .alert-link {
    color: #622f3a; }    

@media all and (max-width:575px){
  .mdi-checkbox-marked-circle-outline,.mdi-comment-alert-outline,.mdi-alert-circle,.mdi-alert-outline{
    font-size: 1em;}
    #pybossa-notification{
    padding: 0.25em 0.5em;}
    #pybossa-notification span{
      font-size: 0.8em;
    }
 }
