

/*메인배너*/
#main{
  padding: 2em 0.5em;

  }

.main-text{
  width: 100%;
  margin: 0 auto;
	text-align: center;
  display: block;
  padding:0;
}

.main-banner{
	width: 100%;
  display: block;
}

.main-banner img {
  width: 50%;
  height: auto;
  max-height: 500px;
}

#main h1 {
  font-size: 2em;
  line-height: 1.3em;
  letter-spacing: 0.10em;
  margin: 1em 0 0.5em 0;
}
#main p{
  font-size: 0.8em;
}

#main hr{
	width: 30px;
	height:3px;
  margin-left: 45%;
  padding: 0;

}

#main .btn {
  font-size: 0.7em;
  padding: 0.5em 2em;
  margin: 0 auto;
  margin-bottom: 2em;
}

/**타이틀**/
.title h1 {
  font-family:  'S-CoreDream-4Medium';
  font-size: 0.9em;}
  
hr {
  width: 40px;
  height: 4px;
}

/**카테고리별 프로젝트****/
#category {
  padding: 2em 0;
}

.ctg {
  padding: 0;
  margin: 0;
  min-width: 80px;
}

 .ctg p {
  font-size: 0.7em;
}	 

  /********3. 진행중인 프로젝트**********/
  #project {
    padding: 2em 0;
  }
#project h5{
  font-size: 0.8em;
}  

.container{
  width: 45%;
  margin: 0.1em ;
}

.project-img{
  max-height: 8em;
}

.container:hover .text{
	opacity: 0;
}

/******4. 포인트킹********/
#PointRank{
  padding: 2em 0;
}

.profile main{
	padding: 0.5em;
}

.myFace img {
    width:25%;}

.profile-name{
  font-size: 0.75em;
  padding: 0;
  margin: 0;
}

.star{
  font-size: 0.7em;
}
.swiper-slide{
	max-height: 350px;
}

.swiper-button-prev,.swiper-button-next{
  display: none;
}


/****footer**/
#footer{
  padding-top: 2em;
}
