
.homepage #header {
height:auto;
}

/* main */
#main{
  padding: 2em 7.5em;}

.main-text{
  width: 60%;
  font-size: 1em;
}
.main-banner{
  width: 40%;
}
#main h1 {
  font-size: 2em;}
#main p {
   font-size: 0.8em;}

/***2. 카테고리별 프로젝트***/
.ctg {
	margin:0 1em;
}

/*3. 진행중인 프로젝트**/
.container{
  width: 30%;
  margin: 0.4em;
}

/**4.포인트킹***/

.profile-name{
font-size: 1em;
}
.myRank li{
  font-size: 0.7em;
}
.myFace img {
	width:25%;
}

