/**태블릿 스크린용 **/

/*메인배너*/
#main{
  padding: 3em 2em;
  }

  .main-text{
    width: 60%;
  }
  
  .main-banner{
    width: 40%;
  }
  

#main h1 {
    margin: 0.5em 0;
  padding: 0.2em 0;
}

#main p {
  font-size: 0.9em;
  }
  

  #main .btn {
    font-size: 0.8em;
    margin-bottom: 2em;
  }
  

/**타이틀**/
.title h1{
  font-size: 1em;}

hr {
  width: 60px;
  height: 5px;
}

/**카테고리별 프로젝트****/
.ctg {
  width: 18%;
  margin:0 0.5em;
}
.ctg p {
	font-size: 0.8em;
}	 


/****3. 진행중인 프로젝트****/
#project {
  padding: 3em 0.5em;
}

.container{
    margin: 0.25em ;
    width: 45%;
    }

    
/*****3.포인트킹******/   
 .myFace{
   padding-top: 1em;
 }

.myRank ul{
	padding: 1.5em 1em ;
}

.myRank{
	margin: 0.25em 0.5em;
}

.swiper-pagination{
  display: block;
}
.swiper-button-next,.swiper-button-prev {
  display: none;
}

.profile{
	max-width: 280px;
	max-height: 400px;
}



