
/***소형노트북****/

.homepage #header {
  height:auto;
}

#main{
   padding: 2em 5em;
   }
 
 #main h1 {
   margin: 0.5em 0;
   font-size: 2.5em;
 }
  .main-text{
   width: 60%;
   padding-right:  1.5em;
   }
   
   .main-banner{
     width: 40%;
   }

   #main p {
    font-size: 1em;
    }
    
  #main .btn {
    width: 13em;
    padding: 0.5em 1em;
  }  
  
/**타이틀**/
.title h1{
  font-size: 1.5em;
}


/**2.카테고리별 프로젝트****/
#category {
	padding: 4em 5em 0 5em;
}

.ctg {
  width: 20%;
  padding: 1em 0.5em;
  margin:0 0.8em;
}

.ctg p {
	font-size: 0.7em;
}	 




/*3. 진행중인 프로젝트****/
#project {
	margin: 0;
  padding: 3em 0;

}

.pro{
  font-size: 1em;
  margin: 1em 0.3em ;
  width: 30%;
}

.pro img {
  height:16.25em;
}


.pro h3{
  font-size: 0.8em;
  }

.pro figcaption {
top: calc(72%);
padding: 15px 20px ;
}


.level{ 
  margin-bottom:0.1em;
  width: 60px;
  height: 20px;
  line-height: 20px;
  font-size:0.6em ;
  }


/**4.포인트킹***/
  #PointRank{
    padding: 3em;
    margin: 0;
    }

.profile-name{
  font-size: 0.9em;
}
.myRank li{
  font-size: 0.6em;
}
