
/***************데스크탑 모니터 화면*********************/
body{
  font-family: 'S-CoreDream-2Light'
}

section{
    width: 100%;  
    margin: 0 auto;
  }
  
  .title{
    text-align: center;
    margin: 0 auto;
  }
  
  .title h1 {
    padding-bottom: 0.5em;
    font-size: 1.5em;
  }
  
  .title hr{
    width: 70px;
    background-color: #8c83d3;
    height: 5px;
    border: none;
  }
  
  #header{
    background:url("../images/cloud.jpg") ;
    background-position: center center;
    background-size: cover;
    height: 15em;
  }

  .category-order li{
    display: inline-block;  
    font-size: 0.9em;
  }

  .category-order{
    margin: 2em 5em;  
  }


/***1.작업화면**/
#contents{
  padding: 2em 0 5em 0 ;

}

#contents main{
  margin: 3em 6em 0 6em ;
}

.workcontainer{
  width: 100%;
  background-color: #C7E4E2;
  border-radius: 10px;
}

.process{
padding: 0.8em 0;
font-size: 1em;
text-align: center;
}

.process a, .process h5,.fa-text-height{
  color: #00232C;
  letter-spacing: 0.5em;
  font-weight: 600;
}
.process span{
 font-size: 0.8em;
 color: #00232C;
}

.workspace{
  padding: 2em 4em;
  background-color: white;
  font-size: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #C7E4E2;
  font-family: serif;
  color: black;
}

.workspace p {
  line-height: 1.2em;
}

.controlbar{
  margin: 1.5em 1em 0.5em 1em;
  width: 10em;
  height: 7px;
  border-radius: 7px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: opacity .3s;
  -webkit-appearance: none;
}
.controlbar:hover{
  opacity: 1;
}
      
.controlbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background:#4f9ead;
  cursor: pointer;
}

.controlbar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background:#4f9ead;
  cursor: pointer;
}







.btn-group{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: table;

}

.btn-group button{
  font-size: 1.2em;
  margin: 2em 2em 0 2em;
  padding: 0.8em 0;
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: #4f9ead;
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-family: 'S-CoreDream-3regular';
  letter-spacing: 0.5em;
}

.btn-group img{
  width: 1.1em;
}
.btn-group button{
  display: inline-block;
}

.btn-group button:hover{
  background-color: #4b7f8a;
}


