/** *태블릿 사이즈 화면***/

#header{
  height: 10em;
}

.category-order{
  margin: 1em 0.5em;  
  font-size: 0.8em;
}


/***1.작업화면**/
#contents{
  padding:3em 0 ;
}

#contents main{
  margin:3em 1em 2em 1em;
  }

  .process a, .process h5{
    font-size: 0.7em;
   }

   .swiper-pagination{
     display: block;
   }
   .swiper-button-prev,.swiper-button-next{
     display: none;
   }

