@font-face { font-family: 'S-CoreDream-2Light'; src: url('../css/font/SCDream2.otf') format('woff'); font-weight: normal; font-style: normal; }
@-ms-viewport {
  width: device-width;}

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
  vertical-align: baseline;}
  
  ol, ul, li {
    list-style: none;}

  a {
    text-decoration: none;}

section{
  float: left;
  width: 50%;}

#left {
  box-sizing: border-box;
  font-family: 'S-CoreDream-2Light';
  background-image: url("../images/office-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: table;}

.text{
color: white;
font-family: 'S-CoreDream-2Light';
text-align: justify;
width: 100%;
margin: 0 auto;
display: table-cell;
vertical-align: middle;
padding: 0 25%;}

.text h3{
  line-height: 1.5em;}

.text p{
  font-size: 0.9em;
  line-height: 1.7em;}


/***오른쪽 회원가입 양식***/
#right{
  height: 100vh;
  display: table;
  font-family: 'S-CoreDream-2Light';
  background: #f2edf3;}

.register-form{
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding: 2% 20%;}

.register-title p {
  font-size: 0.8em;}  

.form-group {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin-top: 0.5em;}

input[type=text], input[type=password],input[type=email],input[type=number],input[type=tel],.select{
  font-family: 'S-CoreDream-2Light';
  width: 100%;
  height: 3em;
  padding: 0.5em 1em ;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background: #f2edf3;}

  .input-field,select {
    width: 100%;
    outline: none;}
  
  .input-field:focus {
    border: 1.5px solid #b66dff;}

.number-confirm{
  width: 35%;
  border-radius: 0.25em;
  border: 0;
  font-family: 'S-CoreDream-2Light';
  background: linear-gradient(to right, #da8cff, #9a55ff);
  color: #fff;
  letter-spacing: 0.25em;}

 .icon {
    padding: 0.55em 1em ;
    font-size: 0.9em;
    color:  #b66dff;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border: 1px solid #ccc;
    border-right: none;
    text-align: center;
    min-width: 1em;
    max-height: 2em;}

.select:focus{
  border: 2px solid #b66dff;}

#month, #date{
  width: 50%;}  

button{
  border-radius: 0.25em;
  border: 0;
  font-family: 'S-CoreDream-2Light';
  background: linear-gradient(to right, #da8cff, #9a55ff);
  color: #fff;
  letter-spacing: 0.25em;
  font-weight: bold;
  padding: 1em 2em;
  margin: 1.5em 0;
  cursor: pointer;
  width: 100%;}

button:hover{
  opacity: 0.8;}  

input[type=checkbox] {
    position: relative;}

input[type="checkbox"]::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1.5px solid #b66dff;
  border-radius: 0.25em;
  background-color: #f2edf3;}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #b66dff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 6px;}

.agreefm{
  font-size: 0.8em;
  line-height: 1.5em;
  margin-top: 1.5em;}
.agreefm ul li{
    margin: 0.3em 0;}
.agreefm ul li:last-child{
  text-indent: 30px;
  margin-top: 1em;}  

.register{
  font-size: 0.8em;
  margin-top: 1em;
  text-align: center;}


/**모달창 띄우기***/
  .modal {
    display: none; 
    position: fixed; 
    z-index: 9; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); }
  
  .modal-content {
    background: #f2edf3;
    margin: auto;
    text-align: center;
    padding: 2em;
    border: 1px solid #888;
    width: 50%; }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;}
  
  .close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;  }

  textarea{
    width: 100%;
    height: 25vh;}

  #alert {
    color: red;
  }




/******노트북 작은 모니터 *****/

@media  (max-width: 1280px) {
  section{
    float: left;
    width: 50%;}
 
  .text{
    font-size: 0.8em;
    padding: 10% 25%;}
    
  .register-form{
    padding: 0 15%;}

 .agreefm ul{
    padding: 0; }    
  

  
}
/******** 태블릿*********/
@media screen and (max-width: 768px) {

#left, #right{
    width: 100%;}
#left{
  height: 20vh;
}
#right{
  height: 80vh;
}
.text{
font-size: 0.7em;
width: 100%;
padding:0 25%;}

.icon {
  padding: 0.9em 1em ;}   

.register-form{
  padding:10% 20% ;
  font-size: 0.7em;}

 .modal-content {
    width: 75%; } 


}

/***********모바일****************/
@media screen and (max-width: 575px) {

  #left{
    height: 15vh;}
  #right{
    height: 85vh;}
  .text{
    font-size: 0.5em;}
  .intro{
    display: none;} 
  .icon {
   padding: 0.9em 1em ;}    
  .register-form{
    padding:5% 10% }
  
input[type=text], input[type=password],input[type=email],input[type=number],input[type=tel],.select{
      padding: 0.5em ;}

input[type="checkbox"]::before{
     width: 10px;
     height: 10px;}
      
input[type=checkbox]:checked:after {
        width: 5px;
        height: 5px;
        top: 1px;
        left: 3px;}

        .agreefm{
          font-size: 0.8em;
          line-height: 1.5em;
          margin-top: 1em;}

        .agreefm ul li:last-child{
          text-indent: 10px;
          margin-top: 0.5em;}  


}
