<section class="home about">
	<div class="content" style="size: cover; position: relative; width: 70%; height: 1100px; padding: 5% 15% 5% 15%;">
		<!--<div class="layout1"style=" position: absolute; width:1250px; height: 500px;" >-->
		<div class="layout1" style="position:absolute; width:100%; height:50%;">
			<p style="text-align: left; font-size:35px;"><strong>Data.ly</strong> 에서 어떤 서비스를 제공하나요? </p>
			<img src="{{url_for('static', filename='img/intro001.png')}}" style="float:left; width:49%; height:70%;">
			<img src="{{url_for('static', filename='img/intro002.png')}}" style="float:right; width:49%; height:70%;" >
		</div>
			<!--<div class="layout2" style="position: absolute; width: 1250px; height: 500px; margin-top: 500px;">-->
			<div class="layout2" style="position: absolute; width:100%; height: 50%; margin-top: 500px;">
				<p style="text-align: left; font-size:35px;">어떤 서비스를 할 수 있나요? </p>
				<img src="{{url_for('static', filename='img/intro003.png')}}" style="display: block; margin-left:auto; margin-right: auto; width:50%; height:70%;">
			</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
			</div>
		</div>
	</div>
</section>
