/**태블릿 스크린용 **/


/***헤더부분***/
#header{
  background-position: center;
  height: 10em;
}

hr {
  width: 60px;
  height: 5px;
}
.title h1{
  font-size: 1.25em;
}


/**카테고리별 프로젝트****/
#category {
  padding: 3em 1em;
  margin: 0;
}

.ctg {
  width: 18%;
  margin:0 0.6em;
}
.ctg p {
	font-size: 0.8em;
}	 



/***프리미엄 프로젝트***/

  #premium main{
    padding: 3em 0 ;
  }

  .swiper-slide {
    font-size: 0.8em;
  }

	.premium-intext{
    padding-top: 10em;
	}
	.premium-intext h3{
    margin: 0.5em 0;
    font-size: 1.2em;
  }

  .swiper-pagination{
    display: block;
  }	

 /****진행중인 프로젝트**/
 #project {
  padding: 3em 0.5em ;
}

  .pro {
    margin: 1em 0.5em ;
    width: 45%;
    }

    .pro h3{
      font-size: 1em;
      }
    .level{ 
      margin-bottom:1em;
      }
      .mobile-only{
        display: none;
      }
      

/****가격별 정렬***/
form{ 
  display: none;
  }
  #mb-only{
    display: block;
    margin: 2em 0 0.5em 0;
  }

  #mb-only a{
  width:100%;
  padding: 0.3em 1.5em ;  
  margin: 0.5em 0.2em;
  border: 1px solid #8c83dc;
  border-radius: 7px;
  font-size: 0.9em;
  text-align: center;
  }
  .active, .btn:hover {
    background: #8c83dc; color: white;
  }
  
  #btn-group {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color:transparent; 
    padding: 1em 0;
    margin: 0 auto;
  }

