/***조금 큰 태블릿화면 **/

.homepage #header {
  height:15em;
  }

hr{
    width: 50px;
}


/**2.카테고리별 프로젝트****/
#category {
	padding: 4em 5em;
}

.ctg {
  width: 20%;
  padding: 1em 0.5em;
  margin:0 0.8em;
}

 .ctg p {
	font-size: 1em;
}	 



/***프리미엄 프로젝트***/

#premium main{
	padding: 4em 0;
}	

.container-wrap{
  margin: 2em 0;
  padding: 0;
}

.swiper-button-next,.swiper-button-prev{
  display: none;
}

.premium-intext h3 span{
  font-size: 0.5em;
	} 
  .premium-intext li{
		font-size: 0.7em;
  }


/****진행중인 프로젝트**/
#project { 
	padding: 4em 0.5em;
}
.pro{
  font-size: 1em;
  margin: 1em 0.3em ;
  width: 30%;
}
.pro img {
  height:16.25em;
}

  .pro h3{
    font-size: 1em;
    }
    .pro figcaption {
      top: calc(72%);
      padding: 15px 20px ;
    }
    .pro ul {
      font-size: 1em;
      padding: 0.5em 0;
    }

    .level{
      margin-bottom:0.1em;
      width: 65px;
      height: 20px;
      line-height: 20px;
      font-size:0.7em ;
    }

/****가격별 정렬***/
form{ 
  margin: 1.5em 0 1em 75%; 
}

#orderlist, #project button{
  width: 170px;
  height: 35px;
  font-size: 0.9em;
}

#mb-only{
	display: none;
}
/**가격정렬**/
#mb-only{
  display: none;
  }
        
  .mobile-only{
    display: block;
  }     
        



  #footer {
    padding:3em 1em 1em 3em ;
  }


