{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% set active_link = "tasks" %}
{% set section = _('채점하기') %}

{% block projectcontent %}
<div class="row">
    <div class="col-md-12">
		<p>프로젝트 총 포인트 : {{project.all_point}}</p>
    </div>
</div>
{% for t in tasks %}
{% set task_pct = t.pct_status*100 %}
<div class="row">
    <div class="col-md-3">
        {% if task_pct >= 100 %}
		<span class="label label-success">task #{{t.id }} 완료</span>
        {% else %}
        <span class="label label-info">task #{{ t.id }} 진행중 {{ t.n_task_runs }}/{{ t.n_answers }}</span>
        {% endif %}
    </div>
    <div class="col-md-5">
        <div class="progress"> 
            <div class="progress-bar" role="progressbar" aria-valuenow="{{task_pct}}" aria-valuemin="0" aria-valuemax="100" style="width: {{task_pct}}%;">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% if task_pct >= 100 %}
        <a id="fulldownload" rel="nofollow" class="btn btn-success btn-xs" href="{{ url_for('project.score2', 
            short_name=project.short_name,
            task_id=t.id) }}"><i class="fa fa-cloud-download"></i> {{_('수동 채점 하기')}}</a>
        {% elif task_pct > 0 and task_pct < 100 %}
        <a id="partialdownload" rel="nofollow" class="btn btn-info btn-xs" href="{{ url_for('project.score2', 
            short_name=project.short_name,
            task_id=t.id) }}"><i class="fa fa-cloud-download"></i> {{_('임시채점(비추천)')}}</a>

        {% else %}
        <a id="nothingtodownload" rel="nofollow" class="btn btn-info btn-xs disabled" href="#"><i class="fa fa-cloud-download"></i> {{_('채점 불가')}}</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% if pagination.pages > 1 %}
<div class="row">
    <div class="col-md-12 text-center">
        {{ render_pagination(pagination) }}
    </div>
</div>
{% endif %}
{% endblock %}
