# Directories #
/backups/
/__pycache__/
pybossa/__pycache__/
venv
.venv/
/project_order/
.project_order/
uploads
pybossa/backup/
pybossa/themes/wisedome_theme/templates/new_design/temp/


*.db
*.pyc
*.swp
*.wsgi
*.pem
*.log
*.sql
*.ini

dump.rdb
settings_local.py
alembic.ini
pybossa/backup/conf/*.config
pybossa.ini
