[data-theme="dark"] {
  background-color: #323641 !important;

#input_text {
background-color: #323641;
border-color:#95829b ;}

.card-title,.card-description,.main-text,.accordion__content,#input_text {
    color: #fff;}

.accordion__title{
  border-color: #95829b;
 color: #fff;}

.answers{
  border-color: #95829b;}

/**버튼색**/
.btn-outline-primary{
  border-color: #95829b;
 color: #fff;}

 #disable-submit{color: #fff;}

.content-wrapper,footer{
  background-color: #D2C5DB;}

.footer{
  border-color: #c1b6c4;}


}


[data-theme="dark"] .bg-white {
  background-color: #323641 !important;

 #input_text {
  background-color: #323641;
   border-color:#95829b ;}
   
.card-title,.card-description,.main-text,.accordion__content,#input_text {
color: #fff;}

.accordion__title{
border-color: #95829b;
color: #fff;}

/**버튼색**/
.btn-outline-primary{
  border-color: #95829b;
  color: #fff;}

#disable-submit{color: #fff;}  

#manage-answer-btn{
  color: #fff;  
  background-color: #198ae3;}

.answers{
border-color:#95829b;}

.content-wrapper,footer{
background-color: #D2C5DB;}

.footer{
border-color:  #c1b6c4;}

}