{% extends "new_design/workspace/workspace_base.html" %}

{% block css %}{% endblock %}

{% block content %}

<!-- 어드민 관리 섹션-->
<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">대시보드 상황판 </h3>
		<nav aria-label="breadcrumb">
			<div class="breadcrumb">
				<button class="breadcrumb-item btn btn-sm btn-secondary"> <i class="mdi mdi-autorenew"> 새로고침</i></button>
			</div>
		</nav>
	</div>
	<div class="row">
		<div class="col-lg-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">최근활동 회원</h4>
					<canvas id="areaChart" style="height:250px"></canvas> <!--핑크색차트 (각 차트들의 세부사항은 liveBoard.js파일 참고)-->
				</div>
			</div>
		</div>
		<div class="col-lg-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">신규 프로젝트 </h4>
					<canvas id="barChart" style="height:230px"></canvas><!--멀티컬러 바 그래프 차트-->
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">최근작업</h4>
					<canvas id="barChart-2" style="height:250px"></canvas> <!--멀티컬러 바 그래프차트 -->
				</div>
			</div>
		</div>
		<div class="col-lg-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">최근답변 </h4>
					<canvas id="lineChart-2" style="height:230px"></canvas><!--파란색 차트-->
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">신규회원</h4>
					<canvas id="areaChart-2" style="height:250px"></canvas> <!--보라색차트-->
				</div>
			</div>
		</div>
		<div class="col-lg-6 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">최근활동</h4>

					<div class="user-avatar d-flex align-items-start mt-2">
						<img src="/static/new_design/images/face5.jpg" alt="profile image" class="profile-img img-xs rounded-circle mr-3">
						<p class="my-auto"> 
						<span class="font-weight-bold"> 해찬이</span>
						<span class="text-info"> 이미지 업데이트</span>  
						참여함  
						<span class="text-muted ml-1">1일전</span>  
						</p>
					</div>
					<div class="user-avatar d-flex align-items-start mt-2">
						<img src="/static/new_design/images/man.jpg" alt="profile image" class="profile-img img-xs rounded-circle mr-3">
						<p class="my-auto">
						<span class="font-weight-bold"> 해찬이</span>
						새로운 프로젝트 생성함
						<span class="text-muted ml-1">1일전</span>  
						</p>
					</div>
					<div class="user-avatar d-flex align-items-start mt-2">
						<img src="/static/new_design/images/lion.jpg" alt="profile image" class="profile-img img-xs rounded-circle mr-3">
						<p class="my-auto">
						<span class="font-weight-bold"> 석준이</span>
						가입함
						<span class="text-muted ml-1">3일전</span>  
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>


<!-- 이 페이지에서만 필요한 js -->
<script src="/static/new_design/js/plugin/Chart.min.js"></script>
<script src="/static/new_design/js/liveBoard.js"></script>

{% endblock %}
