#header{
  height: 5em;
}

/**타이틀**/
.title h1 {
  font-size: 0.9em;}
  
hr {
  width: 40px;
  height: 4px;
}

/***프리미엄 프로젝트***/
  #premium{
    padding: 2em 0;
  }

  .swiper-slide {
    font-size: 0.8em;
    max-height: 300px;
  }

/**카테고리별 프로젝트****/
#category {
  padding: 2em 0;
}
.ctg {
  margin-right: 0.1em;
  min-width: 70px;
}

 .ctg p {
  font-size: 0.2em;
  line-height: 2em;
}	 

/****진행중인 프로젝트**/
#project { 
  padding: 2em 0;
}
 
.pro{
  max-height: 175px;
  width: 45%;
  margin: 0.25em ;
}
.pro img {
  height:12.5em;
}
.pro figcaption {
  top: calc(83%);
  padding: 0 0.5em;
  text-align: center;
}
    .pro h3{
      font-size: 0.6em;
    }
    .level{
      display: none;
    }
    
/****가격별 정렬***/
    #mb-only{
       margin: 1em 0 0.5em 0;
    }

    #mb-only a{
    width: 25%;
    padding: 0.5em;   
    font-size: 0.6em;
    min-width: 50px;
    }

    #next{
      padding: 0.5em 2em;
    }