/*********모바일 화면**************/
.title h1 {
  padding-bottom: 0.3em;
}

.title hr {
  width: 40px;
  height: 3px;
}

#header {
  height: 7em;
}

.category-order {
  font-size: 0.7em;
}

/***1.작업화면**/
#contents {
  padding: 3em 0;
}

#contents .workcontainer .process {
  padding: 0.5em 0;
}
#contents main .process a, #contents main .process h5 {
  font-size: 0.5em;
}

.dropzone-wrapper {
  height: 200px;
}

.dropzone,
.dropzone:focus {
  height: 200px;
}
.fa-upload{
  font-size: 2em;
}

.dropzone-desc {
  font-size: 0.8em;
}

.submit{
  font-size: 1em;
  padding: 0.5em 3em;
}
