@import "variable";

/****데스크탑 모니터 화면****/
#header{
  @include header-bg;
  height: 15em;
}

 .title{
text-align: center;
margin: 0 auto;

h1 {
  padding-bottom: 0.5em;
  font-size: 1.5em;
}

hr{
  @include title-hr;
  width: 70px;
  height: 5px;
}
}

.category-order{
  margin: -2em 0 0 5em; 
  
  li{
    display: inline-block;  
    font-size: 0.9em;
  }
}

  
 #contents{
  padding:5em 0 ;

   .workcontainer{
    width: 100%;
    background-color: #C7E4E2;
    border-radius: 10px;
    height: auto;
  
    .process{
      @include process-title();
      font-size: 1em;
      padding: 1.5em 0;
    }
    }

  .workspace{
    @include workarea-bg();
    height: 100%;
    }
  }


/***이미지 선택하는 영역****/
#contents{
  position: relative;
  height: 100%;

   main{
    margin: 3em 5em 1em 5em;

    .container-wrap{
      padding: 0;
      margin: 0;

    .swiper-container {
      width: 100%;
      height: 100%;

    .swiper-slide {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height:450px ;
      max-width: 450px;

      img{
        height: auto;
        width: 100%;
        justify-content: center;
      }
      &:hover{
       opacity: 0.7;
      }
      &:checked {
        border-style: none;
      }  
     }
    }
   }
  }
}

.swiper-pagination{
    display: none;
  }
.swiper-button-prev,.swiper-button-next{
    display: block;
  }