<!DOCTYPE HTML>

<html>
	<head>
		<title>Dataly-Main</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css"/>
		<link rel="stylesheet" href="assets/css/main-tablet.css"/>
		<link rel="stylesheet" href="assets/css/main-mobile.css"/>
		<link rel="stylesheet" href="assets/css/main-large.css"/>
		<link rel="stylesheet" href="assets/css/swiper.min.css"/>	

	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper curved">

					<!-- main --메인배너---->
						<div id="main">
							<div class="main-text">
								<h1>TOUCH FOR YOUR BUCKET LIST</h1>
								<p>당신의 버킷리스트를 위해 지금 터치하세요 <br>
								<button><a href="#">사용방법보기 &nbsp;<i class="fas fa-angle-right"></i></a></button>
							</p>
							</div>	
							<div class="main-banner">
				     	<picture>
									<source srcset="images/banner-main.png" media="(min-width: 1280px)"/>
									<source srcset="images/tablet/banner-main.png" media="(min-width: 768px)"/>
									<img src="images/mobile/banner-mobile.png" alt="main banner" style="width:auto;">
								</picture>
							</div>	
						</div>

					<!-- Nav -->
						<nav id="nav">

							<ul>
								<li class="dataly-logo"><img src="images/mobile/Logo-grey-small.png" alt="dataly logo"></li>
								<li class="current"><a href="index.html">HOME</a></li>
								<li><a href="#">SERVICE</a>
									<ul>
										<li><a href="#">회사소개</a></li>
										<li><a href="#">이용방법</a></li>
									</ul>
								</li>
								<li><a href="#">PROJECT</a></li>
								<li><a href="#">CONTACT</a>
									<ul>
										<li><a href="#">공지사항</a></li>
										<li><a href="#">이벤트</a></li>
										<li><a href="#">파트너협약</a></li>
										<li><a href="#">자주하는질문</a></li>
										<li><a href="#">문의하기</a></li>
									</ul>
								</li>
								<li><a href="login.html">LOGIN </a></li>
							</ul>
						</nav>
				</section>
	</div>

<!-------------------2. 카테고리별 프로젝트-------------->
<section id="category">

	<div class="title">
	  <h1>카테고리별 프로젝트</h1>
	  <hr>
	</div>  

<main class="all-category">

<div class="category-image">
  <div class="ctg">
      <img src="images/Circle-banner-1.png" alt="banner1" width="290" height="290">
  </div>
</div>


<div class="category-image">
  <div class="ctg">
      <img src="images/Circle-banner-2.png" alt="banner2" width="290" height="290">
  </div>
</div>

<div class="category-image">
  <div class="ctg">
      <img src="images/Circle-banner-3.png" alt="banner3" width="290" height="290">
  </div>
</div>

<div class="category-image">
  <div class="ctg">
      <img src="images/Circle-banner-4.png" alt="banner4" width="290" height="290">
  </div>
</div>

</main>
</section>

<!--------------3. 진행중인 프로젝트----------------->
<div class="bg">

<section id="project">


	<div class="title">
	  <h1>진행중인 프로젝트</h1>
	  <hr>
	</div> 

<main>

	 <div id="project-top">

		<div class="pro"> 
				<picture class="zoom-in">
					<source srcset="images/project-1-L.png" media="(min-width: 1280px)" />	
					<source srcset="images/tablet/project-1-M.jpg" media="(min-width: 768px)"/>	
						<img src="images/mobile/project-1-S.png" alt="project1" >
					</picture>
				<div class="intext">
			 		<div class="level level-high">고 &nbsp;급 </div>
					<h3>대화내용을 듣고 받아적기</h3>
					<div class="mobile-only"><h5><i class="fas fa-won-sign"></i>&nbsp;500</h5></div>	
				</div>
		</div>

		<div class="pro">
				<picture class="zoom-in">
					<source srcset="images/project-2-L.png" media="(min-width: 1280px)" />
					<source srcset="images/tablet/project-2-M.jpg" media="(min-width: 768px)"/>			
					<img src="images/mobile/project-2-S.png" alt="project2" >
				</picture>
	  <div class="intext">
				<div class="level level-easy">초 &nbsp;급 </div>
				<h2>이미지 찍어올리기</h2>
				<div class="mobile-only"><h3><i class="fas fa-won-sign"></i>&nbsp;1500</h3></div>	
			</div>
		</div>

		<div class="pro">
				<picture class="zoom-in">
					<source srcset="images/project-3-L.png" media="(min-width: 1280px)" />		
					<source srcset="images/tablet/project-3-M.jpg" media="(min-width: 768px)"/>	
					<img src="images/mobile/project-3-S.png" alt="project3" >
				</picture>
	  <div class="intext">
				<div class="level level-easy">초 &nbsp;급 </div>
				<h2>객관/주관 분석하기</h2>
				<div class="mobile-only"><h3><i class="fas fa-won-sign"></i>&nbsp;500</h3></div>	
			</div>
		</div>



		<div class="pro">
			<picture class="zoom-in">
				<source srcset="images/project-4-L.png" media="(min-width: 1280px)" />	
				<source srcset="images/tablet/project-4-M.jpg" media="(min-width: 768px)"/>		
				<img src="images/mobile/project-4-S.png" alt="project4" >
			</picture>
	  <div class="intext">
				<div class="level level-high">고 &nbsp;급 </div>
				<h2>이미지의 테두리 따기</h2>
				<div class="mobile-only"><h3><i class="fas fa-won-sign"></i>&nbsp;500</h3></div>	
			</div>
		</div>

		<div class="pro">
			<picture class="zoom-in">
				<source srcset="images/project-5-L.png" media="(min-width: 1280px)" />	
				<source srcset="images/tablet/project-5-M.jpg" media="(min-width: 768px)"/>		
				<img src="images/mobile/project-5-S.png" alt="project5" >
			</picture>
	  <div class="intext">
				<div class="level level-easy">초 &nbsp;급 </div>
				<h2>대화내용을 듣고 받아적기</h2>
				<div class="mobile-only"><h3><i class="fas fa-won-sign"></i>&nbsp;100</h3></div>	
			</div>
		</div>

		<div class="pro">
			<picture class="zoom-in">
				<source srcset="images/project-6-L.png" media="(min-width: 1280px)" />		
				<source srcset="images/tablet/project-6-M.jpg" media="(min-width: 768px)"/>	
				<img src="images/mobile/project-6-S.png" alt="project6" >
			</picture>
	  <div class="intext">
				<div class="level level-middle">중 &nbsp;급 </div>
				<h2>설문조사 작성하기</h2>
				<div class="mobile-only"><h3><i class="fas fa-won-sign"></i>&nbsp;500</h3></div>	
			</div>
		</div>

		</div>


		<!----숨겨진 리스트-->
	<div id="project-bottom">		
	
		<div class="pro">
			<picture class="zoom-in">
				<source srcset="images/project-7-L.png" media="(min-width: 1280px)" />		
				<source srcset="images/tablet/project-7-M.jpg" media="(min-width: 768px)"/>	
				<img src="images/mobile/project-7-S.png" alt="project7" >
			</picture>
	  <div class="intext">
				<div class="level level-high">고 &nbsp;급 </div>
				<h2>새로운 프로젝트</h2>
				<div class="mobile-only"><h3><i class="fas fa-won-sign"></i>&nbsp;500</h3></div>	
			</div>
		</div>

		<div class="pro">
				<picture class="zoom-in">
					<source srcset="images/project-8-L.png" media="(min-width: 1280px)" />		
					<source srcset="images/tablet/project-1-8.jpg" media="(min-width: 768px)"/>	
					<img src="images/mobile/project-8-S.png" alt="project8" >
				</picture>
	  <div class="intext">
				<div class="level level-easy">초 &nbsp;급 </div>
				<h2>새로운 프로젝트</h2>
				<div class="mobile-only"><h3><i class="fas fa-won-sign"></i>&nbsp;1500</h3></div>	
			</div>
		</div>

		<div class="pro">
				<picture class="zoom-in">
					<source srcset="images/project-9-L.png" media="(min-width: 1280px)" />		
					<source srcset="images/tablet/project-1-9.jpg" media="(min-width: 768px)"/>	
					<img src="images/mobile/project-9-S.png" alt="project9" >
				</picture>
	  <div class="intext">
				<div class="level level-easy">초 &nbsp;급 </div>
				<h2>새로운 프로젝트</h2>
				<div class="mobile-only"><h3><i class="fas fa-won-sign"></i>&nbsp;500</h3></div>	
			</div>
		</div>
	</div>
	<div class="down-arrow"><i onclick="arrow(this)" class="fas fa-chevron-down"></i></div>
	</div>  <!--bottom-project-->

 </main>

</div>  <!----bg-->
</section>


<!-------------------4.금주의 포인트 킹-------------------->
<section id="PointRank">

	<div class="title">
	  <h1>최다 포인트킹</h1>
	  <hr>
	</div> 

<main>

  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <div class="profile swiper-slide">
				<main>
					<div class="myFace "><img src="images/lion.jpg" alt="myFace1"></div>
					<div class="myProfile">
						   <span class="profile-name">라이거 님</span><br>  <!---프로필 고객 이름 -->
							 <span class="profile-area">남/경기도</span> <br> <!---프로필 지역구와 성별-->
						   <span class="star">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
						   </span>
					</div>
				
					<div class="myRank"><!--프로필 각각의 랭킹순위-->
						<ul>
							<li><i class="fas fa-globe-asia"></i>&nbsp;&nbsp;<span>36</span>&nbsp;&nbsp; 참여프로젝트</li>
							<li><i class="fas fa-coins"></i></i>&nbsp;&nbsp;<span>12,500</span>&nbsp;&nbsp;총적립금</li>
							<li><i class="fas fa-hourglass-half"></i>&nbsp;&nbsp;<span>2020</span>&nbsp;&nbsp;멤버쉽가입</li>
							<li><i class="fas fa-award"></i>&nbsp;&nbsp;<span>1</span>&nbsp;&nbsp;금주의 활동순위</li>
						</ul>
					</div>
				</main>
			</div>
			
			
			<div class="profile swiper-slide">
				<main>
					<div class="myFace "><img src="images/man.jpg" alt="myFace2"></div>
					<div class="myProfile">
						   <span class="profile-name">마쵸남 님</span> <br>  <!---프로필 고객 이름 -->
							 <span class="profile-area">남/경기도</span> <br> <!---프로필 지역구와 성별-->
						   <span class="star">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
						   </span>
					</div>
				
					<div class="myRank"><!--프로필 각각의 랭킹순위-->
						<ul>
							<li><i class="fas fa-globe-asia"></i>&nbsp;&nbsp;<span>21</span>&nbsp;&nbsp;&nbsp;참여프로젝트</li>
							<li><i class="fas fa-coins"></i></i>&nbsp;&nbsp;<span>11,080</span>&nbsp;&nbsp;총적립금</li>
							<li><i class="fas fa-hourglass-half"></i>&nbsp;&nbsp;<span>2020</span>&nbsp;&nbsp;멤버쉽가입</li>
							<li><i class="fas fa-award"></i>&nbsp;&nbsp;<span>2</span>&nbsp;&nbsp;금주의 활동순위</li>
						</ul>
					</div>
				</main>
			</div>

      <div class="profile swiper-slide">
							<main>
					<div class="myFace "><img src="images/panda.jpg" alt="myFace3"></div>
					<div class="myProfile">
						   <span class="profile-name">판다귀엽지 님</span> <br>  <!---프로필 고객 이름 -->
							 <span class="profile-area">여/경상도</span> <br> <!---프로필 지역구와 성별-->
						   <span class="star">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
						   </span>
					</div>
				
					<div class="myRank"><!--프로필 각각의 랭킹순위-->
						<ul>
							<li><i class="fas fa-globe-asia"></i>&nbsp;&nbsp;<span>16</span>&nbsp;&nbsp;&nbsp;참여프로젝트</li>
							<li><i class="fas fa-coins"></i></i>&nbsp;&nbsp;<span>98,000</span>&nbsp;&nbsp;총적립금</li>
							<li><i class="fas fa-hourglass-half"></i>&nbsp;&nbsp;<span>2020</span>&nbsp;&nbsp;멤버쉽가입</li>
							<li><i class="fas fa-award"></i>&nbsp;&nbsp;<span>3</span>&nbsp;&nbsp;금주의 활동순위</li>
						</ul>
					</div>
				</main>
			</div>
			
			<div class="profile swiper-slide">
				<main>
					<div class="myFace "><img src="images/chick.jpg" alt="myFace4"></div>
					<div class="myProfile">
						   <span class="profile-name">삐약이 님</span> <br>  <!---프로필 고객 이름 -->
							 <span class="profile-area">여/전라도</span> <br> <!---프로필 지역구와 성별-->
						   <span class="star">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
						   </span>
					</div>
				
					<div class="myRank"><!--프로필 각각의 랭킹순위-->
						<ul>
							<li><i class="fas fa-globe-asia"></i>&nbsp;&nbsp;<span>14</span>&nbsp;&nbsp;&nbsp;참여프로젝트</li>
							<li><i class="fas fa-coins"></i></i>&nbsp;&nbsp;<span>8,700</span>&nbsp;&nbsp;총적립금</li>
							<li><i class="fas fa-hourglass-half"></i>&nbsp;&nbsp;<span>2020</span>&nbsp;&nbsp;멤버쉽가입</li>
							<li><i class="fas fa-award"></i>&nbsp;&nbsp;<span>4</span>&nbsp;&nbsp;금주의 활동순위</li>
						</ul>
					</div>
				</main>
			</div>

			<div class="profile swiper-slide">
				<main>
					<div class="myFace "><img src="images/kitty.jpg" alt="myFace5"></div>
					<div class="myProfile">
						   <span class="profile-name">냐옹냐옹 님</span> <br>  <!---프로필 고객 이름 -->
							 <span class="profile-area">여/경상도</span> <br> <!---프로필 지역구와 성별-->
						   <span class="star">
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
						   </span>
					</div>
				
					<div class="myRank"><!--프로필 각각의 랭킹순위-->
						<ul>
							<li><i class="fas fa-globe-asia"></i>&nbsp;&nbsp;<span>9</span>&nbsp;&nbsp;&nbsp;참여프로젝트</li>
							<li><i class="fas fa-coins"></i></i>&nbsp;&nbsp;<span>7,500</span>&nbsp;&nbsp;총적립금</li>
							<li><i class="fas fa-hourglass-half"></i>&nbsp;&nbsp;<span>2020</span>&nbsp;&nbsp;멤버쉽가입</li>
							<li><i class="fas fa-award"></i>&nbsp;&nbsp;<span>5</span>&nbsp;&nbsp;금주의 활동순위</li>
						</ul>
					</div>
				</main>
			</div>

			<div class="profile swiper-slide">
				<main>
					<div class="myFace "><img src="images/elephant.jpg" alt="myFace1"></div>
					<div class="myProfile">
						   <span class="profile-name">코끼리도 채식한다 님</span> <br>  <!---프로필 고객 이름 -->
							 <span class="profile-area">여/충청도</span> <br> <!---프로필 지역구와 성별-->
						   <span class="star">
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
						   </span>
					</div>
				
					<div class="myRank"><!--프로필 각각의 랭킹순위-->
						<ul>
							<li><i class="fas fa-globe-asia"></i>&nbsp;&nbsp;<span>9</span>&nbsp;&nbsp;&nbsp;참여프로젝트</li>
							<li><i class="fas fa-coins"></i></i>&nbsp;&nbsp;<span>4,700</span>&nbsp;&nbsp;총적립금</li>
							<li><i class="fas fa-hourglass-half"></i>&nbsp;&nbsp;<span>2020</span>&nbsp;&nbsp;멤버쉽가입</li>
							<li><i class="fas fa-award"></i>&nbsp;&nbsp;<span>6</span>&nbsp;&nbsp;금주의 활동순위</li>
						</ul>
					</div>
				</main>
			</div>
		</div>
<!-- Add Pagination -->	
<div class="swiper-pagination"></div>
</div>
<!-- Add Arrows -->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>

</main>
</section>

<!-------------------- Footer ---------------------->
<section id="footer" class="wrapper">
<footer>

<main>
<div class="footer-arrow1">
	<h3>ABOUT  <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
</div>

  <ul id="footer-list1">
		<li><a href="#">회사소개</a></li>
		<li><a href="#">인재채용</a></li>
		<li><a href="#">이용약관</a></li>
		<li><a href="#">개인정보처리</a></li>	
  </ul>
</main>	

<main>
<div class="footer-arrow2">
	<h3>DOCUMENT <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
</div>

	<ul id="footer-list2">
		<li><a href="#">자원들</a></li>
		<li><a href="#">문서들</a></li>
		<li><a href="#">API</a></li>
		<li><a href="#">용어들</a></li>
	</ul>
</main>

<main>
<div class="footer-arrow3">
	<h3>라이센스   <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
</div>

  <ul id="footer-list3">
		<li><a href="#">둘러보기</a></li>
		<li><a href="#">프로젝트</a></li>
		<li><a href="#">데이터</a></li>
		<li><a href="#">내용</a></li>
  </ul>
</main>

<main>
<div class="footer-arrow4">
	<h3>SNS   <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
</div>

  <ul id="footer-list4">
			<li><a href="#"><i class="fab fa-facebook-square"></i>  페이스북</a></li>
			<li><a href="#"><i class="fab fa-instagram"></i>  인스타그램</a></li>
			<li><a href="#"><i class="fab fa-youtube-square"></i>  유투브</a></li>
			<li><a href="#"><i class="fab fa-twitter-square"></i>  트위터</a></li>
  </ul>
</main>

<main>
<div class="footer-arrow5">
	<h3>CONTACT   <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
</div>

  <ul id="footer-list5">
		<li><a href="#">문의하기</a></li>
		<li><a href="#">고객센터</a></li>
		<li><a href="#">제휴제안</a></li>
 </ul>
</main>

</footer>

<div class="copyright">Copyright ⓒ 2020 Data.ly / All Rights Reserved</div>

</section>

</div>





<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/swiper.min.js"></script>

 <!-- Initialize 프로필 Swiper -->
 <script>
	var swiper = new Swiper('.swiper-container', {
		slidesPerView: 4,
		spaceBetween: 20,
		// init: false,
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

		breakpoints: {
			1024: {
				slidesPerView: 4,
				spaceBetween: 40,
			},
			768: {
				slidesPerView: 3,
				spaceBetween: 30,
			},
			640: {
				slidesPerView: 2,
				spaceBetween: 20,
			},
			320: {
				slidesPerView: 1,
				spaceBetween: 10,
			}
		}
	});
</script>

	</body>
</html>