{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}
{% block content %}

<style type="text/css">
#my_btn{
	width: 100px;
	background:#435861;
	color:#fff;
	border:none;
	position:relative;
	height:60px;
	font-size:1.6em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
#my_btn:hover{
	background:#fff;
	color:#435861;
}
#my_btn:before,#my_btn:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #435861;
	transition:400ms ease all;
}
#my_btn:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
#my_btn:hover:before,#my_btn:hover:after{
	width:100%;
	transition:800ms ease all;
}
</style>

<section class="home featured">
	<div>
		<div id="home-outer">
			<div id="home-top-video">
				<video autoplay loop muted width="100%">
					<source src='//assets0.flashfunders.com/assets/FF_Video_Reel-ce4f749dc4ed0baa2a2069db80202bbccb7312439cd5478cdbc51bc759350c71.mp4' type="video/mp4" /> Your browser does not support the video tag. We suggest you upgrade your browser.
				</video>
			</div>
		</div>
	</div>
</section>

<section class="home featured">
	<div class="jumbotron">
		<div class="container text-center firstfold">
			<p>{{_("Data.ly는 인공지능에서 필요한 데이터를 Crowd와 전문가가 협업하여 제작하는 플랫폼입니다.")}}</p>
			<!--<img src="/static/img/blue_Data.ly.png" heifht='120px' width='120px'>-->
			<p style="font-size:40px; text-align: center; line-height: 0pt; margin-top:30px;"><I><strong>Data.ly</strong></I></p>
			<p><U>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</U></p>
			<p style="font-size:30px;">인공지능에서 필요한 데이터를 Crowd와 전문가가 협업하여 제작하는 플랫폼</p>
		</div>
	</div>
</section>

	<p style="font-size:30px; text-align: center; padding-top:30px; padding-bottom:10px;">함께 하시겠습니까?</p>
	<div style="text-align: center; padding-bottom:30px;" id="btn_div">
		<button id="my_btn" type="button" onClick="location.href='{{url_for('project.index')}}'" >참여 </button>
	</div>
{% endblock %}

