{% macro render_field(field, i_tag="", label_visible=true) -%}
	<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
		{% if field.type != 'HiddenField' and field.type != 'CSRFTokenField' and label_visible and field.name != 'id' and field.name != 'form_name' %}
			{% if i_tag != "" %}
				<i class="{{ i_tag }}"></i>
			{% endif %}
		{% endif %}
		{{ field(class_='input-field', **kwargs) }}
	</div>
		{% if field.errors %}
			{% for e in field.errors %}
			{% if e != '올바르지 않은 정수 값입니다.' %}
				<p class="help-block" style="color:red; font-weight:bold;">{{ e }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
{%- endmacro %}

{% macro render_checkbox_field(field) -%}
<div class="checkbox">
	<label>
		{{ field(type='checkbox', **kwargs) }} {{ field.label }}
	</label>
</div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
{% for value, label, _ in field.iter_choices() %}
<div class="radio">
	<label>
		<input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
	</label>
</div>
{% endfor %}
{%- endmacro %}

{% macro render_form(form, form_id="", action_url='', action_text='Submit', class_='', btn_class='btn btn-default', btn_name=None, btn_value=None, i_tag=None) -%}
	<form id="{{form_id}}" method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
		{{ form.hidden_tag() if form.hidden_tag }}
		{% if caller %}
			{{ caller() }}
		{% else %}
			{% for f in form %}
				{% if f.type == 'BooleanField' %}
					{{ render_checkbox_field(f) }}
				{% elif f.type == 'RadioField' %}
					{{ render_radio_field(f) }}
					{% else %}
					{{ render_field(f) }}
					{% endif %}
			{% endfor %}
		{% endif %}
		<button type="submit" name="{{btn_name}}" value="{{btn_value}}" class="{{ btn_class }}">{{ action_text }} </button>
	</form>
{%- endmacro %}


{%- macro render_url_thumbnail(project, upload_method) %}
{%- if project.info.container %}
{%- if upload_method == 'rackspace'%}
{{ url_for('rackspace', filename=project.info.thumbnail, container=project.info.container)}}
{%- else %}
{{ url_for('uploads.uploaded_file', filename=(project.info.container + '/' + project.info.thumbnail))}}
{% endif -%}
{%- elif project.info.thumbnail %}
{{project.info.thumbnail}}"
{% else -%}

{% if project.category_name == 'sound' %}
{{url_for('static', filename='new_design/images/audio.jpg')}}
{% elif project.category_name == 'text' %}
{{url_for('static', filename='new_design/images/text.jpg')}}
{% elif project.category_name == 'image' %}
{{url_for('static', filename='new_design/images/image.jpg')}}
{% elif project.category_name == 'vidio' %}
{{url_for('static', filename='new_design/images/vidid.jpg')}}
{% else %}
{{url_for('static', filename='new_design/images/default-img.jpg')}}
{% endif %}

{% endif -%}
{% endmacro -%}
