{%- macro render_url_thumbnail(project, upload_method) %}
{%- if project.info.container %}
{%- if upload_method == 'rackspace'%}
{{ url_for('rackspace', filename=project.info.thumbnail, container=project.info.container)}}
{%- else %}
{{ url_for('uploads.uploaded_file', filename=(project.info.container + '/' + project.info.thumbnail))}}
{% endif -%}
{%- elif project.info.thumbnail %}
{{project.info.thumbnail}}"
{% else -%}
{{url_for('static', filename='new_design/images/default-image.png')}}
{% endif -%}
{% endmacro -%}



{% for project in projects %}
<figure class="pro zoom-in"> 
	<img src="{{ render_url_thumbnail(project, upload_method) }}" alt="{{project.short_name}}" >

	<figcaption class="intext">
		<div class="level level-high">고 &nbsp;급 </div>
		<h3>{{project.name}}</h3>
		<div class="mobile-only">
			<ul>
				<li><i class="fas fa-won-sign"></i>&nbsp;{{project.all_point}}</li>	
				<li>
					{% if project.condition.sex == '0' %} <i class="fas fa-male"></i><i class="fas fa-female"></i>    남녀무관
					{% elif project.condition.sex == 'M' %}<i class="fas fa-male"></i>    남성만
					{% elif project.condition.sex == 'F' %}<i class="fas fa-female"></i>    여성만
					{% endif %}
				</li>
				<li><i class="fas fa-user-friends"></i>
					{% if ( n_year - (project.condition.age_s / 10000) + 1 | int == 0 ) and (n_year-(project.condition.age_e / 10000) + 2 | int == 100) %}
					나이무관
					{% else %}
					{{ (n_year - (project.condition.age_s / 10000) + 1) | int}} ~ {{ (n_year - (project.condition.age_e / 10000) + 2) | int}}세
					{% endif %}
				</li>		
			</ul>
		</div>
	</figcaption>
	<a href="{{ url_for('project.details', short_name=project.short_name) }}"></a> 
</figure>
{% endfor %}
