<!DOCTYPE html>
<html lang="kor">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <title>Wisedome</title>
  <link rel="stylesheet" href="/static/new_design/css/basic/basic.css"/><!--NAV랑 footer-->
  <link rel="stylesheet" href="/static/new_design/css/Allproject-XXL.css" media="screen and (max-width: 99999px)"/>
  <link rel="stylesheet" href="/static/new_design/css/Allproject-XL.css" media="screen and (max-width: 1280px)"/>
  <link rel="stylesheet" href="/static/new_design/css/Allproject-L.css" media="screen and (max-width: 991px)"/>
  <link rel="stylesheet" href="/static/new_design/css/Allproject-M.css" media="screen and (max-width: 769px)"/>
  <link rel="stylesheet" href="/static/new_design/css/Allproject-S.css" media="screen and (max-width: 575px)"/>

  <link rel="stylesheet" href="/static/new_design/css/swiper.min.css"/>

  
  <!-- fontawesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>


<!-- Header -->
<section id="header" class="wrapper">

	{% include "/new_design/_nav.html" %}

</section>
</div>

{%- macro render_url_thumbnail(project, upload_method) %}
{%- if project.info.container %}
{%- if upload_method == 'rackspace'%}
{{ url_for('rackspace', filename=project.info.thumbnail, container=project.info.container)}}
{%- else %}
{{ url_for('uploads.uploaded_file', filename=(project.info.container + '/' + project.info.thumbnail))}}
{% endif -%}
{%- elif project.info.thumbnail %}
{{project.info.thumbnail}}"
{% else -%}
{{url_for('static', filename='new_design/images/default-image.png')}}
{% endif -%}
{% endmacro -%}

<!--프리미엄 프로젝트-->
<section id="premium">

<main>

  <div class="title">
    <h1>프리미엄 프로젝트</h1>
    <hr>
  </div> 

<div class="container-wrap">
	<!-- Swiper -->
	<div class="swiper-container">
		<div class="swiper-wrapper">

			{% for f_project in feature_projects %}
			<div class="swiper-slide ">
				<a href="{{url_for('project.details', short_name=f_project.short_name)}}">
					<img src="{{render_url_thumbnail(f_project, upload_method)}}" alt="{{f_project.name}}" >
					<div class="premium-intext">
		            <ul>
						<h3><span>[마감임박]</span>    {{f_project.name}}</h3>
						<li><i class="fas fa-won-sign"></i>&nbsp;{{f_project.all_point}}</li>	
						<li>
							{% if f_project.condition.sex == '0' %} <i class="fas fa-male"></i><i class="fas fa-female"></i>    남녀무관
							{% elif f_project.condition.sex == 'M' %}<i class="fas fa-male"></i>    남성만
							{% elif f_project.condition.sex == 'F' %}<i class="fas fa-female"></i>    여성만
							{% endif %}
						</li>
						<li><i class="fas fa-user-friends"></i>
							{% if ( n_year - (f_project.condition.age_s / 10000) + 1 | int == 0 ) and (n_year-(f_project.condition.age_e / 10000) + 2 | int == 100) %}
							나이무관
							{% else %}
							{{ (n_year - (f_project.condition.age_s / 10000) + 1) | int}} ~ {{ (n_year - (f_project.condition.age_e / 10000) + 2) | int}}세
							{% endif %}
						</li>		
						<li><i class="fas fa-clock"></i>  마감기한 : {{f_project.updated}}</li>
					</ul>
					</div>
				</a> 
			</div>
	  {% endfor %}

  </div>
<!-- Add Pagination -->
<div class="swiper-pagination"></div>

</div>

 <!-- Add Arrows -->
 <div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>  

</main>  
</section>



<!---2. 카테고리별 프로젝트-->
<section id="category">
	<div class="title">
	  <h1>카테고리별 프로젝트</h1>
	  <hr>
	</div>  

<main class="all-category">

<div class="ctg" >
	<a href="{{url_for('project.project_cat_index', category='sound')}}#category">
		<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891"
	 xml:space="preserve">
<g>
	<g>
		<path d="M402.279,479.078v23.253c0,48.082-39.117,87.199-87.199,87.199H280.2c-48.082,0-87.199-39.117-87.199-87.199v-23.253
			h-34.88v23.253c0,67.314,54.765,122.079,122.079,122.079v59.295h-75.573v34.88h186.024v-34.88H315.08V624.41
			c67.314,0,122.08-54.765,122.08-122.079v-23.253H402.279z"/>
	</g>
</g>
<g>
	<g>
		<path d="M477.851,280.264h-6.682c-8.779-88.006-83.252-156.959-173.529-156.959c-90.278,0-164.751,68.953-173.529,156.959h-6.683
			c-28.849,0-52.319,23.471-52.319,52.319v94.176c0,28.849,23.47,52.319,52.319,52.319h40.693V297.704
			c0-76.931,62.588-139.519,139.519-139.519c76.932,0,139.52,62.588,139.52,139.519v181.375h40.691
			c28.85,0,52.32-23.471,52.32-52.319v-94.176C530.171,303.734,506.701,280.264,477.851,280.264z"/>
	</g>
</g>
<g>
	<g>
		<path d="M315.08,310.493H280.2c-28.849,0-52.319,23.471-52.319,52.319v139.519c0,28.849,23.47,52.319,52.319,52.319h34.879
			c28.85,0,52.32-23.471,52.32-52.319V362.812C367.4,333.963,343.929,310.493,315.08,310.493z M332.519,450.012H262.76v-34.88
			h69.759V450.012z"/>
	</g>
</g>
</svg>
		<P>음성작업</P>
	</a>
	</div>

  <div class="ctg">	<!--이미지작업아이콘-->
	<a href="{{url_for('project.project_cat_index', category='image')}}#category">
		<svg version="1.1" id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891"
	 xml:space="preserve">
<g>
	<path d="M297.64,326.692c-65.649,0-119.056,53.407-119.056,119.056c0,65.649,53.407,119.057,119.056,119.057
		c65.65,0,119.057-53.407,119.057-119.057C416.697,380.099,363.291,326.692,297.64,326.692z"/>
	<path d="M547.667,277.086h-84.568l-39.686-99.214H171.867l-39.685,99.214h-13.126v-49.607H59.528v49.607H47.612
		C21.351,277.086,0,298.437,0,324.698v291.37c0,26.44,21.509,47.949,47.95,47.949h499.38c26.441,0,47.951-21.509,47.951-47.949
		v-291.37C595.281,298.437,573.929,277.086,547.667,277.086z M99.213,277.086H79.371v-29.764h19.843V277.086z M297.64,624.332
		c-98.469,0-178.584-80.114-178.584-178.584c0-98.469,80.115-178.584,178.584-178.584c98.469,0,178.584,80.115,178.584,178.584
		C476.224,544.218,396.109,624.332,297.64,624.332z M515.91,396.142c-21.887,0-39.686-17.799-39.686-39.685
		c0-21.887,17.799-39.686,39.686-39.686s39.686,17.799,39.686,39.686C555.595,378.343,537.796,396.142,515.91,396.142z"/>
		</g>
</svg>
		<P>이미지작업</P>
	</a>
	</div>

  <div class="ctg">	<!--텍스트작업 아이콘-->
	<a href="{{url_for('project.project_cat_index', category='text')}}#category">
		<svg version="1.1" id="Capa_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891"
		xml:space="preserve">
 <g>
	 <g>
		 <path d="M455.761,298.866V123.305H0v508.081c0,48.082,39.118,87.199,87.199,87.199h420.884
			 c48.08-0.001,87.197-39.118,87.197-87.199v-332.52H455.761z M87.199,683.705c-28.849,0-52.319-23.47-52.319-52.319V158.185
			 h386.002c0,14.292,0,458.928,0,473.201c0,19.615,6.514,37.735,17.486,52.319H87.199z M560.4,631.386
			 c0,28.85-23.471,52.319-52.318,52.319c-28.85,0-52.32-23.47-52.32-52.319v-297.64h34.881v315.081h34.879V333.746H560.4V631.386z"/>
	 </g>
 </g>
 <g>
	 <g>
		 <path d="M69.759,194.227v52.319h34.88v-17.44h34.88v104.639h-34.88v34.88c11.049,0,93.779,0,104.639,0v-34.88h-34.88V229.106
			 h34.88v17.44h34.879v-52.319H69.759z"/>
	 </g>
 </g>
 <g>
	 <g>
		 <rect x="69.759" y="403.505" width="316.242" height="34.879"/>
	 </g>
 </g>
 <g>
	 <g>
		 <rect x="69.759" y="473.265" width="316.242" height="34.88"/>
	 </g>
 </g>
 <g>
	 <g>
		 <rect x="69.759" y="544.187" width="316.242" height="34.88"/>
	 </g>
 </g>
 <g>
	 <g>
		 <rect x="69.759" y="613.946" width="316.242" height="34.88"/>
	 </g>
 </g>
 <g>
	 <g>
		 <rect x="280.2" y="194.227" width="105.801" height="34.879"/>
	 </g>
 </g>
 <g>
	 <g>
		 <rect x="280.2" y="263.986" width="105.801" height="34.88"/>
	 </g>
 </g>
 <g>
	 <g>
		 <rect x="280.2" y="333.746" width="105.801" height="34.88"/>
	 </g>
 </g>
 </svg>
		<P>텍스트작업</P>
	</a>
	</div>

  <div class="ctg">	<!---비디오작업 아이콘-->
	<a href="{{url_for('project.project_cat_index', category='vidio')}}#category">
		<svg version="1.1" id="Capa_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891"
		xml:space="preserve">
 <path d="M570.48,271.609c-15.018-6.218-32.297-2.784-43.793,8.709l-76.547,76.555v-46.661c0-33.229-26.945-60.176-60.18-60.176
	 H60.179C26.946,250.036,0,276.983,0,310.212v221.465c0,33.229,26.946,60.176,60.179,60.176H389.96
	 c33.236,0,60.18-26.946,60.18-60.176v-46.662l76.547,76.555c7.695,7.689,17.965,11.776,28.426,11.776
	 c5.172,0,10.395-1.008,15.367-3.065c15.008-6.22,24.801-20.869,24.801-37.122v-224.43
	 C595.281,292.477,585.488,277.827,570.48,271.609z M282.831,436.535l-82.023,63.018c-3.499,2.693-7.728,4.069-11.979,4.069
	 c-2.959,0-5.93-0.666-8.688-2.025c-6.716-3.309-10.968-10.144-10.968-17.634V357.926c0-7.492,4.251-14.325,10.968-17.632
	 c6.719-3.311,14.729-2.521,20.665,2.043l82.023,63.016c4.845,3.722,7.684,9.483,7.684,15.59
	 C290.514,427.052,287.675,432.813,282.831,436.535z"/>
 </svg>
<P>비디오작업</P>
	</a>
	</div>


</main>
</section>




<!--3. 진행중인 프로젝트-->
<section id="project">

<div class="title">
  <h1>진행중인 프로젝트</h1>
  <hr>
</div> 
   
<!--  모니터 화면에만 뜨는 가격순, 최신순 등으로 정렬하기-(안에다 링크 거세요)-->
<form action="#" >
  <select id="orderlist" name="orderlist">
	  <option value="lowPrice"> <a href="">최저가격순</a></option> 
    <option value="highPrice"> <a href="">최고가격순</a></option>
    <option value="oldest"> <a href="">마감임박순</a></option>
    <option value="newest"> <a href="">최신순</a></option>
  </select>
</form>

<script>
	function ajaxSend(value) {
		var url = window.location.href; 
		$.ajax({
			url: url,
			data: { "value" : value , "projects" : "{{projects}}"},
			type: 'POST',
			success: function(res) {
				$('#project_list').empty();
				var Obj = JSON.parse(res);
				$('#project_list').append(Obj.template);
				console.log(Obj.template);
			},
			error: function(request, error){
				console.log(request);
				console.log(error);
			}
		});
	}
</script>


<!--여기서는 모바일화면에서만 뜨는 가격별 정렬버튼(안에다 링크거세요)-->
<div id="mb-only">
    <div id="btn-group">
      <a href="#" class="btn active" onclick="ajaxSend('lowPrice'); return false;"> #최저가격순</a>
      <a href="#" class="btn" onclick="ajaxSend('highPrice'); return false;">#최고가격순</a>
      <a href="#" class="btn" onclick="ajaxSend('oldest'); return false;">#마감임박순</a>
	  <a href="#" class="btn" onclick="ajaxSend('newest'); return false;">#최신순</a>
</div>
</div>
</div>


<main>

<!--프로젝트1 (여기서부터 프로젝트 9번까지 반복됨)-->




	{% for project in projects %}
	<div class="container" onclick="location.href='{{ url_for('project.details', short_name=project.short_name) }}'" style="cursor:pointer;">
		<img class="project-img" src="{{ render_url_thumbnail(project, upload_method) }}" alt="{{project.short_name}}" >

		<div class="overlay">
			<h3>{{project.name}}</h3>
			<div class="text">
				<br></br>
				<div class="level level-easy">초 &nbsp;급 </div>
				<ul>
					<li><i class="fas fa-won-sign"></i>&nbsp;{{project.all_point}}</li>	
					<li>
						{% if project.condition.sex == '0' %} <i class="fas fa-male"></i><i class="fas fa-female"></i>    남녀무관
						{% elif project.condition.sex == 'M' %}<i class="fas fa-male"></i>    남성만
						{% elif project.condition.sex == 'F' %}<i class="fas fa-female"></i>    여성만
						{% endif %}
					</li>
					<li><i class="fas fa-user-friends"></i>
						{% if ( n_year - (project.condition.age_s / 10000) + 1 | int == 0 ) and (n_year-(project.condition.age_e / 10000) + 2 | int == 100) %}
						나이무관
						{% else %}
						{{ (n_year - (project.condition.age_s / 10000) + 1) | int}} ~ {{ (n_year - (project.condition.age_e / 10000) + 2) | int}}세
						{% endif %}
					</li>		
				</ul>
				<p>{{project.description}}</p>
			</div>
		</div>
	</div>
	{% endfor %}

</main>
<button id="next" type="button"><a href="#"> Next <i class="fas fa-angle-right"></i>      </a> </button>
</section>

{% include "/new_design/footer.html" %}

<!--자바스크립트파일 -->
<script src="/static/new_design/js/jquery.min.js"></script>
<script src="/static/new_design/js/jquery.dropotron.min.js"></script>
<script src="/static/new_design/js/browser.min.js"></script>
<script src="/static/new_design/js/breakpoints.min.js"></script>
<script src="/static/new_design/js/util.js"></script>
<script src="/static/new_design/js/main.js"></script>
<script src="/static/new_design/js/swiper.min.js"></script> 
<script src="/static/new_design/js/swiper-breakpoint.js"></script>



	<script>
		$(document).ready(function(){
			var csrftoken = $('meta[name=csrf-token]').attr('content')

			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken)
					}
				}
			})

			var firstValue = $("#orderlist option:selected").val();
			//ajaxSend(firstValue);
			//firstValue = $(".sortBtn1").val();
			//ajaxSend(firstValue);

			$("#orderlist").change(function() {
				var value = $(this).val();
				ajaxSend(value);
			});
		});
	</script>

</body>
</html>
