<section id="footer" class="wrapper">

	<footer>
		<main>
		<div class="footer-arrow1">
			<h3>ABOUT  <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
		</div>

		<ul id="footer-list1">
			<li><a href="#">회사소개</a></li>
			<li><a href="#">인재채용</a></li>
			<li><a href="#">이용약관</a></li>
			<li><a href="#">개인정보처리</a></li>	
		</ul>
		</main>	

		<main>
		<div class="footer-arrow2">
			<h3>DOCUMENT <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
		</div>

		<ul id="footer-list2">
			<li><a href="#">자원들</a></li>
			<li><a href="#">문서들</a></li>
			<li><a href="#">API</a></li>
			<li><a href="#">용어들</a></li>
		</ul>
		</main>

		<main>
		<div class="footer-arrow3">
			<h3>라이센스   <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
		</div>

		<ul id="footer-list3">
			<li><a href="#">둘러보기</a></li>
			<li><a href="#">프로젝트</a></li>
			<li><a href="#">데이터</a></li>
			<li><a href="#">내용</a></li>
		</ul>
		</main>

		<main>
		<div class="footer-arrow4">
			<h3>SNS   <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
		</div>

		<ul id="footer-list4">
			<li><a href="#"><i class="fab fa-facebook-square"></i>  페이스북</a></li>
			<li><a href="#"><i class="fab fa-instagram"></i>  인스타그램</a></li>
			<li><a href="#"><i class="fab fa-youtube-square"></i>  유투브</a></li>
			<li><a href="#"><i class="fab fa-twitter-square"></i>  트위터</a></li>
		</ul>
		</main>

		<main>
		<div class="footer-arrow5">
			<h3>CONTACT   <i onclick="arrow(this)" class="fas fa-chevron-down"></i></h3>
		</div>

		<ul id="footer-list5">
			<li><a href="#">문의하기</a></li>
			<li><a href="#">고객센터</a></li>
			<li><a href="#">제휴제안</a></li>
		</ul>
		</main>

	</footer>

	<div class="copyright">
		<img src="/static/new_design/images/dataly-logo.png" alt="data-logo">	
		<p>Copyright ⓒ 2020 Wisesdome / All Rights Reserved</p>	
	</div>

</section>
