<!DOCTYPE HTML>

<html>
	<head>
		<title>이용 가이드</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!-- plugins:css -->
		<link rel="stylesheet" href="/static/new_design/assets/vendors/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="/static/new_design/css/function/vendor.bundle.base.css">
		<!--기본css파일-->
		<link rel="stylesheet" href="/static/new_design/css/basic/dashboard-basic.css">
		<link rel="stylesheet" href="/static/new_design/css/basic/nav-footer.css">
		<!--this page css-->
		<link rel="stylesheet" href="/static/new_design/css/aboutus.css"/>
		<style>

.btn_num{
	border: none;
    background-color: #A9D3DF;
    border-radius: 15px;
    font-family: Gulim;
    font-size: 13pt;
    padding: 10px 31px;
    height: 60px;
    vertical-align: top;
    width: 10%;
    min-width: 150px;
    margin-top: 0.5rem;
	}

.btn_list{
}


.pptimg{
	width:80%;
	margin:50px;

}
		</style>


	</head>
	<body>
		<div class="container-scroller">
			<div class="wrapper banner-wrapper">
				<!--여기서부터 nav-->
				<div class="row">
					<div class="col-lg-12">
						<nav class="navbar fixed-top navbar-expand-lg">
							<a class="navbar-brand" href="/"><img src="/static/new_design/images/wisedome-logo.png" alt="logo" ></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="mdi mdi-menu"></span></button>
							<div class="collapse navbar-collapse justify-content-lg-end justify-content-md-start" id="navbarSupportedContent">

								<ul class="navbar-nav">
									<li class="nav-item active"><a class="nav-link" href="{{url_for('home.aboutus')}}">회사소개</a></li>
									<li class="nav-item"><a class="nav-link" href="{{url_for('home.databoucher')}}">데이터 바우처</a></li>
									<li class="nav-item"><a class="nav-link" href="{{url_for('home.guide')}}">이용 가이드 </a></li>
									<li class="nav-item"><a class="nav-link" href="{{url_for('home.faq')}}">자주하는질문 </a></li>
									{% if current_user.is_anonymous %}
									<li class="nav-item"><a class="nav-link" href="{{url_for('account.signin')}}">로그인 </a></li>
									{% else %}
									<li class="nav-item"><a class="nav-link" href="{{url_for('account.signout')}}">로그아웃 </a></li>
									{% endif %}
								</ul>
							</div>
						</nav>
					</div><!--col lg 12-->
				</div><!--row-->
				<!--여기까지가 nav-->

				<div class="row align-items-center py-5 main">
					<div class="offset-xl-2 col-xl-4 offset-lg-1 col-lg-5 col-md-4 main-text">
						<h5>WISEDOME</h5>
						<div class="hr"></div>
						<h1>이용 가이드</h1>
						<p> 당신의 딥러닝을 위한 러닝메이트 WISEDOME 이용가이드입니다.<br>
						<b>회원가입 -> 작업하기 -> 검수 대기 -> 포인트 전환 -> Q&A</b></p> 
					</div>
					<div class="col-xl-6 col-lg-6 col-md-8 img-content d-flex justify-content-end ">
						<img src="/static/img/guide/0-0.jpg" alt="main image" id="main-img">
					</div>
				</div>
			</div>

			<!--2번쨰 컨텐츠-->
			<div class="wrapper ">
				<div class="row py-5">
					<div class="offset-xl-12 col-xl-12 offset-lg-12 col-lg-12 col-md-12 col-sm-12 main-text" style="text-align:center">
						<div class="page-title">
							<li class="btn_list">
								<button class="btn_num" id = "btn1">메뉴</button>
								<button class="btn_num" id = "btn2">회원가입<br>로그인</button>
								<button class="btn_num" id = "btn3">작업하기</button>
								<button class="btn_num" id = "btn4">검수 대기</button>
								<button class="btn_num" id = "btn5">포인트 전환</button>
								<button class="btn_num" id = "btn6">Q & A</button>
							</li>

							<div class="hr"style="width:100%"></div>
						</div>
						<div class="pt-3"id="div1">
							<img src="/static/img/guide/0-1.jpg" class="pptimg ">
						</div>
						<div class="pt-3"id="div2" style="display:none">
							<img src="/static/img/guide/1-0.jpg" class="pptimg ">
							<img src="/static/img/guide/1-1.jpg" class="pptimg ">
						</div>
						<div class="pt-3"id="div3" style="display:none">
							<img src="/static/img/guide/2-0.jpg" class="pptimg ">
							<img src="/static/img/guide/2-1.jpg" class="pptimg ">
							<img src="/static/img/guide/2-2.jpg" class="pptimg ">
							<img src="/static/img/guide/2-3.jpg" class="pptimg ">
						</div>
						<div class="pt-3"id="div4" style="display:none">
							<img src="/static/img/guide/3-0.jpg" class="pptimg ">
							<img src="/static/img/guide/3-1.jpg" class="pptimg ">
						</div>
						<div class="pt-3"id="div5" style="display:none">
							<img src="/static/img/guide/4-0.jpg" class="pptimg ">
							<img src="/static/img/guide/4-1.jpg" class="pptimg ">
						</div>
						<div class="pt-3"id="div6" style="display:none">
							<img src="/static/img/guide/5-0.jpg" class="pptimg ">
							<img src="/static/img/guide/5-1.jpg" class="pptimg ">
						</div>

					</div>

				</div><!--wrapper-->


			</div><!--project wrapper-->

			<footer><!---footer-내용변경됨 03.01--->
				<div class="footer-border-bottom pb-3">
					<div class="container ">
						<div class="row ">
							<div class="col-lg-4">
								<img class="img-fluid" src="/static/new_design/images/wisedome-logo.png" alt="logo">

								<div class="d-flex mt-3">
									<h6 class="font-weight-normal"> 대표이사 : 차정원</h6>
								</div>
								<div class="d-flex">
									<h6 class="font-weight-normal">사업자등록번호 : 458-42-00460</h6>
								</div>
							</div>

							<div class="col-lg-4">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link " href="{{url_for('home.aboutus')}}"> 회사소개</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-4">
								<div class="d-flex">
									<i class="mdi mdi-cellphone-android"></i>
									<h6 class="font-weight-normal">&nbsp;  (055)-713-5473</h6>
								</div>
								<div class="d-flex">
									<i class="mdi mdi-email"></i>
									<h6 class="font-weight-normal"> &nbsp; wisedomekr@gmail.com</h6>
								</div>

								<div class="d-flex">
									<i class="mdi mdi-home-map-marker"></i>
									<h6 class="font-weight-normal"> &nbsp;경남 창원시 의창구 용동로83번안길 36 SM비즈타운 313호</h6>
								</div>

							</div>

						</div>
					</div>
				</div>

				<div class="container p-2">
					<div class="row">
						<div class="col-md-8 mx-auto text-center">
							<small class="mt-3">Copyright © 2021 <a href="{{url_for('home.home')}}">Wisedome</a> All rights reserved.</small>
						</div>      
					</div>
				</div>
			</footer><!--footer 여기까지-->




			<!-- plugins:js 기본 필수로 들어가는 JS파일-->
			<script src="/static/new_design/js/plugin/vendor.bundle.base.js"></script>
			<!-- this page js-->

			<!--nav footer js-->
			<script src="/static/new_design/js/nav-footer.js"></script>

	</body>
</html>


	<script>
		$("#btn1").off('click').on('click',function(evt){
			console.log("@@1");

			$("#div1").hide();
			$("#div2").hide();
			$("#div3").hide();
			$("#div4").hide();
			$("#div5").hide();
			$("#div6").hide();



			$("#div1").show();
		});
		$("#btn2").off('click').on('click',function(evt){
			console.log("@@2");
			$("#div1").hide();
			$("#div2").hide();
			$("#div3").hide();
			$("#div4").hide();
			$("#div5").hide();
			$("#div6").hide();
			$("#div2").show();
		});
		$("#btn3").off('click').on('click',function(evt){
			console.log("@@3");
			$("#div1").hide();
			$("#div2").hide();
			$("#div3").hide();
			$("#div4").hide();
			$("#div5").hide();
			$("#div6").hide();
			$("#div3").show();
		});
		$("#btn4").off('click').on('click',function(evt){
			console.log("@@4");
			$("#div1").hide();
			$("#div2").hide();
			$("#div3").hide();
			$("#div4").hide();
			$("#div5").hide();
			$("#div6").hide();
			$("#div4").show();
		});
		$("#btn5").off('click').on('click',function(evt){
			console.log("@@5");
			$("#div1").hide();
			$("#div2").hide();
			$("#div3").hide();
			$("#div4").hide();
			$("#div5").hide();
			$("#div6").hide();
			$("#div5").show();
		});
		$("#btn6").off('click').on('click',function(evt){
			console.log("@@6");
			$("#div1").hide();
			$("#div2").hide();
			$("#div3").hide();
			$("#div4").hide();
			$("#div5").hide();
			$("#div6").hide();
			$("#div6").show();
		});

	</script>

