<!DOCTYPE HTML>

<html>
	<head>
		<title>Wisedome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--css파일-->
		<link rel="stylesheet" href="/static/new_design/css/basic.css"/><!--메뉴/푸터 (모든페이지 필수)-->
		<link rel="stylesheet" href="/static/new_design/css/swiper.min.css"/>
		<link rel="stylesheet" href="/static/new_design/css/main-XXL.css" media="screen and (max-width: 99999px)">
		<link rel="stylesheet" href="/static/new_design/css/main-XL.css" media="screen and (max-width: 1280px)">
		<link rel="stylesheet" href="/static/new_design/css/main-L.css" media="screen and (max-width: 991px)">
		<link rel="stylesheet" href="/static/new_design/css/main-tablet.css" media="screen and (max-width: 769px)">
		<link rel="stylesheet" href="/static/new_design/css/main-mobile.css" media="screen and (max-width: 575px)"> 

		<!-- fontawesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<section id="header" class="wrapper">

				<!-- main -대문사진-->
				<div id="main">
					<div class="main-text">
						<h5>LET'S START TODAY</h5>
						<hr>
						<h1>TOUCH FOR YOUR BUCKET LIST</h1>
						<p> 당신의 버킷리스트를 위해 지금 터치하세요 <br>
						어디에서나 자유롭게 시간을 활용할수 있습니다
						</p>
						<a href="#" class="btn">사용방법보기 &nbsp;<i class="fas fa-angle-right"></i></a>
					</div>	

					<div class="main-banner">
						<img src="/static/new_design/images/mockup.png" alt="main image">
					</div>	
				</div>

				{% include "/new_design/_nav.html" %}
				<!--여기까지가 nav다 옮긴후 삭제해도됨-->

			</section>
		</div>


		<!--2. 카테고리별 프로젝트-->
		<section id="category">
			<div class="title">
				<h1>카테고리별 프로젝트</h1>
				<hr>
			</div>  

			<main class="all-category">

			<div class="ctg">
				<!--음성작업 아이콘-->
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
																														 viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891"
															 xml:space="preserve">
					<g>
					<g>
					<path d="M402.279,479.078v23.253c0,48.082-39.117,87.199-87.199,87.199H280.2c-48.082,0-87.199-39.117-87.199-87.199v-23.253
					h-34.88v23.253c0,67.314,54.765,122.079,122.079,122.079v59.295h-75.573v34.88h186.024v-34.88H315.08V624.41
					c67.314,0,122.08-54.765,122.08-122.079v-23.253H402.279z"/>
					</g>
					</g>
					<g>
					<g>
					<path d="M477.851,280.264h-6.682c-8.779-88.006-83.252-156.959-173.529-156.959c-90.278,0-164.751,68.953-173.529,156.959h-6.683
					c-28.849,0-52.319,23.471-52.319,52.319v94.176c0,28.849,23.47,52.319,52.319,52.319h40.693V297.704
					c0-76.931,62.588-139.519,139.519-139.519c76.932,0,139.52,62.588,139.52,139.519v181.375h40.691
					c28.85,0,52.32-23.471,52.32-52.319v-94.176C530.171,303.734,506.701,280.264,477.851,280.264z"/>
					</g>
					</g>
					<g>
					<g>
					<path d="M315.08,310.493H280.2c-28.849,0-52.319,23.471-52.319,52.319v139.519c0,28.849,23.47,52.319,52.319,52.319h34.879
					c28.85,0,52.32-23.471,52.32-52.319V362.812C367.4,333.963,343.929,310.493,315.08,310.493z M332.519,450.012H262.76v-34.88
					h69.759V450.012z"/>
					</g>
					</g>
				</svg>
				<P>음성작업</P>
			</div>

			<div class="ctg">	<!--이미지작업아이콘-->
				<svg version="1.1" id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
																														 viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891"
															 xml:space="preserve">
					<g>
					<path d="M297.64,326.692c-65.649,0-119.056,53.407-119.056,119.056c0,65.649,53.407,119.057,119.056,119.057
					c65.65,0,119.057-53.407,119.057-119.057C416.697,380.099,363.291,326.692,297.64,326.692z"/>
					<path d="M547.667,277.086h-84.568l-39.686-99.214H171.867l-39.685,99.214h-13.126v-49.607H59.528v49.607H47.612
					C21.351,277.086,0,298.437,0,324.698v291.37c0,26.44,21.509,47.949,47.95,47.949h499.38c26.441,0,47.951-21.509,47.951-47.949
					v-291.37C595.281,298.437,573.929,277.086,547.667,277.086z M99.213,277.086H79.371v-29.764h19.843V277.086z M297.64,624.332
					c-98.469,0-178.584-80.114-178.584-178.584c0-98.469,80.115-178.584,178.584-178.584c98.469,0,178.584,80.115,178.584,178.584
					C476.224,544.218,396.109,624.332,297.64,624.332z M515.91,396.142c-21.887,0-39.686-17.799-39.686-39.685
					c0-21.887,17.799-39.686,39.686-39.686s39.686,17.799,39.686,39.686C555.595,378.343,537.796,396.142,515.91,396.142z"/>
					</g>
				</svg>
				<P>이미지작업</P>
			</div>

			<div class="ctg">	<!--텍스트작업 아이콘-->
				<svg version="1.1" id="Capa_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
																														 viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891"
															 xml:space="preserve">
					<g>
					<g>
					<path d="M455.761,298.866V123.305H0v508.081c0,48.082,39.118,87.199,87.199,87.199h420.884
					c48.08-0.001,87.197-39.118,87.197-87.199v-332.52H455.761z M87.199,683.705c-28.849,0-52.319-23.47-52.319-52.319V158.185
					h386.002c0,14.292,0,458.928,0,473.201c0,19.615,6.514,37.735,17.486,52.319H87.199z M560.4,631.386
					c0,28.85-23.471,52.319-52.318,52.319c-28.85,0-52.32-23.47-52.32-52.319v-297.64h34.881v315.081h34.879V333.746H560.4V631.386z"/>
					</g>
					</g>
					<g>
					<g>
					<path d="M69.759,194.227v52.319h34.88v-17.44h34.88v104.639h-34.88v34.88c11.049,0,93.779,0,104.639,0v-34.88h-34.88V229.106
					h34.88v17.44h34.879v-52.319H69.759z"/>
					</g>
					</g>
					<g>
					<g>
					<rect x="69.759" y="403.505" width="316.242" height="34.879"/>
					</g>
					</g>
					<g>
					<g>
					<rect x="69.759" y="473.265" width="316.242" height="34.88"/>
					</g>
					</g>
					<g>
					<g>
					<rect x="69.759" y="544.187" width="316.242" height="34.88"/>
					</g>
					</g>
					<g>
					<g>
					<rect x="69.759" y="613.946" width="316.242" height="34.88"/>
					</g>
					</g>
					<g>
					<g>
					<rect x="280.2" y="194.227" width="105.801" height="34.879"/>
					</g>
					</g>
					<g>
					<g>
					<rect x="280.2" y="263.986" width="105.801" height="34.88"/>
					</g>
					</g>
					<g>
					<g>
					<rect x="280.2" y="333.746" width="105.801" height="34.88"/>
					</g>
					</g>
				</svg>
				<P>텍스트작업</P>
			</div>

			<div class="ctg">	<!---비디오작업 아이콘-->
				<svg version="1.1" id="Capa_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
																														 viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891"
															 xml:space="preserve">
					<path d="M570.48,271.609c-15.018-6.218-32.297-2.784-43.793,8.709l-76.547,76.555v-46.661c0-33.229-26.945-60.176-60.18-60.176
					H60.179C26.946,250.036,0,276.983,0,310.212v221.465c0,33.229,26.946,60.176,60.179,60.176H389.96
					c33.236,0,60.18-26.946,60.18-60.176v-46.662l76.547,76.555c7.695,7.689,17.965,11.776,28.426,11.776
					c5.172,0,10.395-1.008,15.367-3.065c15.008-6.22,24.801-20.869,24.801-37.122v-224.43
					C595.281,292.477,585.488,277.827,570.48,271.609z M282.831,436.535l-82.023,63.018c-3.499,2.693-7.728,4.069-11.979,4.069
					c-2.959,0-5.93-0.666-8.688-2.025c-6.716-3.309-10.968-10.144-10.968-17.634V357.926c0-7.492,4.251-14.325,10.968-17.632
					c6.719-3.311,14.729-2.521,20.665,2.043l82.023,63.016c4.845,3.722,7.684,9.483,7.684,15.59
					C290.514,427.052,287.675,432.813,282.831,436.535z"/>
				</svg>
				<P>비디오작업</P>
			</div>


			</main>
		</section>

		<!--3. 진행중인 프로젝트-->
		<div class="bg">

			<section id="project">


				<div class="title">
					<h1>진행중인 프로젝트</h1>
					<hr>
				</div> 
				<h5><a href="{{ url_for('project.index') }}">전체보기 <i class="fas fa-angle-right"></i> </a></h5> 

				<main>


					{%- macro render_url_thumbnail(project, upload_method) %}
					{%- if project.info.container %}
					{%- if upload_method == 'rackspace'%}
					{{ url_for('rackspace', filename=project.info.thumbnail, container=project.info.container)}}
					{%- else %}
					{{ url_for('uploads.uploaded_file', filename=(project.info.container + '/' + project.info.thumbnail))}}
					{% endif -%}
					{%- elif project.info.thumbnail %}
					{{project.info.thumbnail}}"
					{% else -%}
					{{url_for('static', filename='new_design/images/default-image.png')}}
					{% endif -%}
					{% endmacro -%}

					<!--프로젝트1 (여기서부터 프로젝트 9번까지 반복됨)-->
					{% if projects != None and projects|length > 8 %}
				<div id="project-top">
					{% for i in range(0, 8) %}	
					<div class="container" onclick="location.href='{{ url_for('project.details', short_name = projects[i].short_name) }}'" style="cursor:pointer;">
						<img src="{{ render_url_thumbnail(projects[i], upload_method) }}" alt="{{projects[i].short_name}}" class="project-img">
						<div class="overlay">
							<h3>{{projects[i].name}}</h3>
							<div class="text">
								<br></br>
								<div class="level level-easy">초 &nbsp;급 </div>
								<ul>
									<li><i class="fas fa-won-sign"></i>&nbsp;{{projects[i].all_point}}</li>	
									<li><i class="fas fa-male"></i><i class="fas fa-female"></i>  남녀무관</li>
									<li><i class="fas fa-user-friends"></i>  나이무관</li>		
								</ul>
								<p>{{projects[i].description}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div id="project-bottom">
					{% for i in range(8, projects|length) %}
					<div class="container" onclick="location.href='{{ url_for('project.details', short_name = projects[i].short_name) }}'" style="cursor:pointer;">
						<img src="{{ render_url_thumbnail(projects[i], upload_method) }}" alt="{{projects[i].short_name}}" class="project-img">
						<div class="overlay">
							<h3>{{projects[i].name}}</h3>
							<div class="text">
								<br></br>
								<div class="level level-easy">초 &nbsp;급 </div>
								<ul>
									<li><i class="fas fa-won-sign"></i>&nbsp;{{projects[i].all_point}}</li>	
									<li><i class="fas fa-male"></i><i class="fas fa-female"></i>  남녀무관</li>
									<li><i class="fas fa-user-friends"></i>  나이무관</li>		
								</ul>
								<p>{{projects[i].description}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<figure class="down-arrow"><i onclick="arrow(this)" class="fas fa-chevron-down"></i></figure>
					{% elif projects|length < 8 %}
					<div id="project-top">
					{% for project in projects %}
					<div class="container" onclick="location.href='{{ url_for('project.details', short_name = project.short_name) }}'" style="cursor:pointer;">
						<img src="{{ render_url_thumbnail(project, upload_method) }}" alt="{{project.short_name}}" class="project-img">
						<div class="overlay">
							<h3>{{project.name}}</h3>
							<div class="text">
								<br></br>
								<div class="level level-easy">초 &nbsp;급 </div>
								<ul>
									<li><i class="fas fa-won-sign"></i>&nbsp;{{project.all_point}}</li>	
									<li><i class="fas fa-male"></i><i class="fas fa-female"></i>  남녀무관</li>
									<li><i class="fas fa-user-friends"></i>  나이무관</li>		
								</ul>
								<p>{{project.description}}</p>
							</div>
						</div>
					</div>
				</div>
					{% endfor %}
				<figure class="down-arrow"><i onclick="arrow(this)" class="fas fa-chevron-down"></i></figure>
					{% endif %}


				</main>

		</div>  
			</section>


			<!--4.최다 포인트킹-->
			<section id="PointRank">

				<div class="title">
					<h1>금주 포인트킹</h1>
					<hr>
				</div> 

				<main>

				{% macro render_user_thumbnail(user, upload_method) %}
				{% if user.info.avatar %}
				{% if upload_method == 'rackspace'%}
				{{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}}" onError="this.onerror=null;this.src='{{url_for('static', filename='new_design/images/user-default.png')}}';
				{% else %}
				{{ url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar))}}" onError="this.onerror=null;this.src='{{url_for('static', filename='new_design/images/user-default.png')}}';
				{% endif %}
				{% else %}
				{{ url_for('static', filename='new_design/images/user-default.png')}}
				{% endif %}
				{% endmacro %}


				<div class="swiper-container">
					<div class="swiper-wrapper">

						<!--프로필 반복1-->
						{% for user in top_users %}
						<div class="profile swiper-slide">
							<main> 
							<div class="myFace "><img src="{{ render_user_thumbnail(user, upload_method) }}" alt="{{user.name}}"></div>
							<div class="myProfile">
								<span class="profile-name">{{user.name}} 님</span><br>  <!--프로필 고객 이름 -->
								<span class="star"><!--고객등급 나타남(아래는 별 갯수4개를 의미함)-->
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="far fa-star"></i>
								</span>
							</div>

							<div class="myRank">
								<ul>
									<li><i class="fas fa-globe"></i></i>       
									<span>{{user.n_answers}}<!--이곳에 고객참프로젝트 갯수들어와야함--></span>   참여작업수</li>
									<li><i class="far fa-money-bill-alt"></i>   <span>{{user.point}}<!--이곳에 총적립금 들어와야함--></span>   총적립금</li>
									<li><i class="fas fa-hourglass-half"></i>    <span>{{user.created}}</span>      가입년도</li>
									<li><i class="fas fa-award"></i>    <span>{{user.rank}}<!--고객랭킹순위 뜨게--></span>    금주의 활동순위</li>
								</ul>
							</div>
							</main>
						</div>
						{% endfor %}

					</div>

					<div class="swiper-pagination"></div>
				</div>

				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>

				</main>
			</section>

			{% include "/new_design/footer.html" %}

			<!--자바스크립트파일 -->
			<script src="/static/new_design/js/jquery.min.js"></script>
			<script src="/static/new_design/js/jquery.dropotron.min.js"></script>
			<script src="/static/new_design/js/browser.min.js"></script>
			<script src="/static/new_design/js/breakpoints.min.js"></script>
			<script src="/static/new_design/js/util.js"></script>
			<script src="/static/new_design/js/main.js"></script>
			<script src="/static/new_design/js/swiper.min.js"></script> 


			<script>
				//프로필 랭킹에 쓰는 스와이프 동작
				var swiper = new Swiper('.swiper-container', {
					slidesPerView: 5,
					spaceBetween: 30,

					autoplay: {
						delay: 2000,
						disableOnInteraction: false,
					},
					pagination: {
						el: '.swiper-pagination',
						clickable: true,
					},
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					},    

					breakpoints: {
						1320: {
							slidesPerView: 5,
							spaceBetween: 30,
						},
						1280: {
							slidesPerView: 4,
							spaceBetween: 20,
						},
						1024: {
							slidesPerView: 3,
							spaceBetween: 20,
						},
						991: {
							slidesPerView: 3,
							spaceBetween: 10,
						},
						768: {
							slidesPerView: 2,
							spaceBetween: 20,
						},
						575: {
							slidesPerView: 1,
							spaceBetween: 20,
						}
					}
				});

			</script>


	</body>
</html>

