{% extends "new_design/workspace/workspace_base.html" %}
{% set active_page = "profile" %}
{% set active_link = "settings" %}
{% import "account/_helpers.html" as helper %}
{% from "projects/_helpers.html" import broken_image %}

{% block content %}
{% from "_formhelpers.html" import render_field, render_form %}

<!-- ckan_api 라는 id 를 가진 이름을 지움 -->
<style>
label[for="ckan_api"]
{
	display:none;
}
</style>
<!-- ********************************** -->
<!-- ckan_api 칸 지움 -->
<!-- 밑에 script 쪽에 있음 -->
<!-- ********************************** -->

<div class="content-wrapper">
<section class="account update">
    <div class="container">
        <div class="col-sm-9 col-md-9">
            <section class="account update profile">
                <h1>{{ _('Update your profile') }}</h1>

                {{ render_form(form, action_url=url_for('account.update_profile', name=current_user.name), action_text='저장', btn_class='btn btn-primary', btn_name='btn', btn_value='Profile')}}

            </section>
            <section class="account update avatar">
                <h2>프로필 사진</h2>
                <div>
                    <img id="uploadPreview" style="max-width: 100%">
                </div>
                <form method="post" action="{{ url_for('account.update_profile', name=current_user.name) }}" enctype="multipart/form-data">
                    <fieldset>
                        <div class="col-md-2 img-thumbnail">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        </div>
                        {{ render_field(upload_form.avatar, onchange="previewImage()", label_visible=False) }}
                        {{ upload_form.x1 }}
                        {{ upload_form.y1 }}
                        {{ upload_form.x2 }}
                        {{ upload_form.y2 }}
                        <div class="form-actions">
                            <button type="submit" name='btn' value="Upload" class="btn btn-primary"/>{{ _('Upload') }}</button>
                        </div>
                    </fieldset>
                </form>
            </section>
            {% if show_passwd_form %}
            <section class="account update password">
                <h2 {% if password_form.errors %} name="password" {%endif%}>{{ _('Change your Password') }}</h2>

                {{ render_form(password_form, action_url=url_for('account.update_profile', name=current_user.name), action_text='저장', btn_class='btn btn-primary', btn_name='btn', btn_value='Password')}}
            </section>
            {% endif %}
            <section class="account update external-services" style="display:none">
                <h2>External Services</h2>
                <form method="post" action="{{ url_for('account.update_profile', name=current_user.name) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    {{ render_field(form.ckan_api) }}
                    <div class="form-actions">
                        <button type="submit" name='btn' value="External" class="btn btn-primary" />저장</button>
                    </div>
                </form>
            </section>
            <section class="account update apikey" style="display:none">
                <h2>{{ _('Do you want to reset your personal API Key?') }}</h2>
                <form method="post" action="{{ url_for('account.reset_api_key', name=current_user.name)}}">
                    <div class="form-actions">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button type="submit" class="btn btn-primary" value="Reset">{{_('Yes')}}</button>
                    </div>
                </form>
            </section>
            <section class="account delete" style="display:none">
                <h2>{{_('Export your data')}}</h2>
                <p>
                    {{ _('We will get an email when the data is available to download. You will get access to your personal data, your contributions and the projects you have created') }}
                </p>
                <div class="form-group">
                    <a class="btn btn-primary" style="margin-top:10px;" href="{{url_for('account.start_export', name=current_user.name)}}">{{_('Export your data')}}</a>
                </div>
            </section>
            <section class="account delete">
                <h2>계정 삭제</h2>
                <div class="alert alert-danger">
					<strong>{{ _('Danger Zone!') }}</strong>
					계정 삭제시 모든 개인 정보와 포인트가 제거됩니다. 그리고 되돌릴 수 없습니다.
                </div>
                <div class="form-group">
                    <input onkeyup="checkEmail(this.value)" class="form-control" id="delete" placeholder="이메일을 입력해주세요.">
                    <a id="deleteTrue"  class="btn btn-primary" style="margin-top:10px; display:none;" href="{{url_for('account.delete', name=current_user.name)}}">{{_('Delete')}}</a>
                </div>
            </section>
        </div>
    </div>
</section>
</div>
<script>
    var pybossaAvatarAspectRatio = 1 / 1;
	function checkEmail (txt) {
    if (txt === '{{ current_user.email_addr}}') {
        document.getElementById('deleteTrue').style.display='block';
    } else {
        document.getElementById('deleteTrue').style.display='none';
    }
    document.getElementById("ckan_api").style.display = 'none';

}
</script>
<script>document.getElementById("ckan_api").style.display = 'none';</script>
<script src="{{url_for('static', filename='js/vendor/cropper.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/cropper.min.css')}}" type="text/css" />
<script src="{{url_for('static', filename='js/image_crop.js')}}" type="text/javascript"></script>
{% endblock %}
