/** *태블릿 사이즈 화면***/

.title h1 {
  font-size: 1.3em;
}

#header{
  background-position: center;
  height: 10em;
}


.category-order {
  margin: 1em 0.5em;  
  font-size: 0.8em;
}


/***1.작업화면**/
#contents{
  padding:3em 1em ;
}

#contents main{
  margin: 1.5em 1em 1em 1em;
  padding: 0;
}

.process a, .process h5{
  font-size: 0.7em;
 }
 
 .dropzone-wrapper {
  height: 250px;
}

.dropzone,
.dropzone:focus {
  height: 250px;
}
.fa-upload{
  font-size: 2.5em;
}



