{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

  <legend >{{ _('Password 초기화') }}</legend>
  <form method="post" class="form-horizontal">
      <fieldset>
      {{ form.hidden_tag() }}
      {{ render_field(form.email_addr, placeholder= _('이메일 주소') ) }}
      <div class="form-actions">
          <input type="submit" value="{{_('Password 초기화')}}" class="btn btn-primary btn-lg" />
        <a href="{{ url_for('account.signin') }}" class="btn btn-default">{{ _('초기화 하지 않기') }}</a>
      </div>
      </fieldset>
  </form>
{% endblock %}

