/****작은 노트북 모니터 화면****/

.title hr {
  width: 50px;
}

.category-order{
  margin: 1em 0 0 1em; 
  font-size: 0.9em;
}


/***1.작업화면**/
  
#contents{
  padding:4em 0 ;
}

#contents main {
  margin: 2em 5em 0 5em;
}

#contents main .workspace {
  padding: 0;
}
.process a, .process h5{
  font-size: 0.9em;
 }

 .dropzone-wrapper {
  height: 300px;
}

.dropzone,
.dropzone:focus {
  height: 300px;
}
