/****모바일 스크린용****/

  #header{
    background-position: center;
    height: 7em;
  }

  hr {
    width: 40px;
    height: 4px;
  }



/**카테고리별 프로젝트****/
#category {
  padding: 3em 1em;
}

.ctg {
  padding: 0.4em ;
  margin-right: 0.1em;
}

 .ctg p {
	font-size: 0.5em;
}	 
/***프리미엄 프로젝트***/

  #premium main{
    padding: 3em 0 1em 0 ;
  }


	.premium-intext li:last-child {
   margin: 0.1em 0;
  }
  .premium-intext h3{
    margin: 0.3em 0;
    font-size: 1em;
  }

.container-wrap{
      margin: 2em 1em;
      padding: 0;
    }


/****진행중인 프로젝트**/
#project { 
  padding: 3em 0.5em ;
}
.pro{
  width: 45%;
  margin: 0.5em 0.2em ;
}
.pro img {
  height:12.5em;
}

    .pro figcaption {
      top: calc(83%);
      padding: 0.1em 0.5em;
      text-align: center;
      font-size: 0.7em;
    }

    .level{
      display: none;
    }
    
/****가격별 정렬***/
    #mb-only{
       margin: 1em 0 0.5em 0;
    }

    #mb-only a{
    width: 25%;
    padding: 0.5em;   
    font-size: 0.8em;
    }


    #next{
      padding: 0.5em 2em;
    }