/* XLarge */

@media screen and (max-width: 1680px) {

  /* Basic */

    body, input, textarea, select {
      font-size: 12pt;
    }

}


/* Large */

@media screen and (min-width: 1280px) {

  /* Basic */

    body, input, select, textarea {
      font-size: 11pt;
      line-height: 1.5em;
      letter-spacing: 0.015em;
    }

  /* Wrapper */

    .wrapper {
      padding: 4em 0 7em 0;

    }

    .main-text{
      margin-top: 40%;
    }
    
    
    .title {
      padding: 1em 0;
      font-size: 1.5em;
    }
    

  #category{
    width: 1280px;
    margin: 0 auto;
    padding-top: 17em;
    padding-bottom: 4em;
  }

	div.ctg img {
		width: 80%;
		height: auto;
  }
  
  hr{
    width:7%;
  }

  .text{
    margin-top: 2em;
  }

  .all-category{
    width: 1280px;
    margin: 0 auto;
  }



/*****3. 진행중인 프로젝트***4. 포인트킹*******/
#project, #PointRank{
  width: 1280px;
  margin: 0 auto;
  padding-top: 4%;
  padding-bottom: 4em;
}
.pro{
  margin: 1em 0.7em;
  font-size: 1.2em;
}


.swiper-pagination {
  display: none;
}

/************4. footer*********************/
footer{
  width: 1280px;
  margin: 0 auto;
}

.myRank{
  border-radius: 10px;
	margin: 2em 1em;

}


.myRank li{
  font-size: 0.8em;
  height: 35px;
  line-height: 35px;

}
.myRank ul{
	padding: 1em ;
}



}


@media only screen and (min-width: 1020px) {


  #footer {
    padding:3em 1em 1em 3em ;
  }


}
