<!DOCTYPE HTML>

<html>
	<head>
		<title>개인정보 확인</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/new_design/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/new_design/css/function/vendor.bundle.base.css">
    <!--기본css파일-->
    <link rel="stylesheet" href="/static/new_design/css/basic/dashboard-basic.css">

    <!--this page css-->
    <link rel="stylesheet" href="/static/new_design/css/findPassword.css">
    
</head>
<body>
   
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
     <div class="content-wrapper d-flex align-items-lg-center auth multi-step-login">
       <div class="row w-100">

          <div class="col-md-8 pb-3 mx-auto">
			  <div class="brand-logo text-center"><a href="{{url_for('home.home')}}"><img src="/static/new_design/images/wisedome-logo.png" alt="logo"></a></div>
            <h3 class="text-center">개인정보 확인</h3>


			<script type="text/javascript" src="/static/js/flashmessages.js"></script>
			<div class="flash_messages">
				{% include "_flash_messages.html" %}
			</div>



              <form class="step-form" id="msform">
             
                <!-- 1 step : (이름: 창원대, 이메일 : abc@naver.com)을 입력해야 다음 버튼이 활성화됨 -->
                <fieldset>
                  <p class="mb-3 text-muted">회원가입시 입력했던 이름과 이메일을 입력해주시기 바랍니다</p>

                  <div class="form-group">
                    <input class="form-control" type="text" name="username" id="name"  placeholder="성함"/>
                    <div class="error" id="error-name">회원님의 이름을 찾을수 없습니다</div>
                    <div class="success" id="success-name">회원님의 이름이 올바르게 입력되었습니다</div>
                  </div>

                  <div class="form-group">  
                    <input class="form-control" type="email" name="email" id="email" placeholder="이메일 주소" />
                    <div class="error" id="error-email">회원님의 이메일주소를 찾을수 없습니다</div>
                    <div class="success" id="success-email">회원님의 이메일주소가 올바르게 입력되었습니다</div>
                  </div>
                  <button class="btn btn-primary action-button float-right" type="button" name="next" value="Next" id="step1">다음</button>
                </fieldset>

              </form>
            </div>



         </div>
      </div><!-- content-wrapper ends -->
   </div> <!-- page-body-wrapper ends -->
</div><!-- container-scroller -->



    
<!-- plugins:js 기본 필수로 들어가는 JS파일-->
<script src="/static/new_design/js/plugin/vendor.bundle.base.js"></script>
<!-- Plugin js for this page -->
<script src="/static/new_design/js/plugin/easing.min.js"></script>
<script src="/static/new_design/js/findPassword.js"></script><!--이름 및 이메일 설정을 바꾸려면 이 파일 102째줄에 참고-->

<script>
	$(document).ready(function() {
		var csrf = "{{ csrf_token() }}";
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
					xhr.setRequestHeader("X-CSRFToken", csrf)
				}
			}});
	});

$("#step1").click(function(){
	$.ajax({
		url:window.location.href,
		data: {
			"email_addr": $('#email').val(),
			"fullname": $('#name').val()
		},
		type: 'POST',
		success: function(res) {
			console.log(res);
			if (res == 'email_error')
				pybossaNotify('이메일이 존재하지 않습니다.', true, 'error');
			else if (res == 'name_error')
				pybossaNotify('이메일의 이름과 일치하지 않습니다.', true, 'error');
			else
				pybossaNotify('이메일을 전송하였습니다.', true, 'success');
		},
		error: function(request, error) {
			console.log(request);
			console.log(error);
		}
	});
});
</script>


