<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
	<title>회원가입</title>

	<!-- fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
	<!--이페이지의 css-->
	<link rel="stylesheet" href="/static/new_design/css/register.css">	


</head>
<body>

	<section id="left">

		<div class="text">

			<h3>4차산업혁명 <br> 데이터가공 전문가</h3>
			<p class="intro">누구나 회원가입후 와이즈돔에서 자체교육을 이수한뒤에, 데이터 가공 전문가로 활동할수 있습니다</p>
		</div>

	</section>

	<!--로그인화면-->
	<section id="right">

		<div class="register-form">
			<a href="{{url_for('home.home')}}"><img src="/static/new_design/images/wisedome-logo.png" alt="logo"></a>

			<div class="signup">
				<h5>회원가입</h5>
				<h6>16세 이상의 이용자만 이용할 수 있습니다.</h6>


				{% from "/new_design/_formhelpers.html" import render_form %}
				{% from "/new_design/_formhelper.html" import render_field %}
				{# {{ render_form(form, form_id="register", action_url=url_for('account.register'), btn_class="btn btn-primary btn-block" )}} #}

				<form id="register" method="post" action="{{ url_for('account.register')}}" onsubmit="return email_auth();">
					{{ form.hidden_tag() }}
					{#{{ render_field(form.email_addr, "fas fa-envelope icon")}}  <!-- 이메일 -->#}
					<div class="form-group">
						<i class="fas fa-envelope icon"></i>
						<input type="email" class="input-field" name="email_addr" id="email_addr" placeholder="이메일" required>
						<button type="button" class="email-confirm" onclick="Alert.render()">인증받기</button> 
					</div>

					<div id="dialogoverlay"></div>
					<div id="dialogbox">
						<div>
							<div id="dialogboxhead"></div>
							<div id="dialogtime">남은시간 : <span id="timer"></span></div>
							<div id="dialogboxbody"> </div>
							<div id="dialogboxfoot">        
								<div id="dialogResend"></div>
								<div id="dialogOk"></div>
							</div>
						</div>
					</div>

					<div id="emptyoverlay"></div>
					<div id="emptybox">
						<div>
							<div id="emptyboxhead"></div>
							<div id="emptyboxbody"> </div>
							<div id="emptyboxfoot"></div>
						</div>
					</div>

					<div class="mail_chk" id="false"></div>




					{{ render_field(form.password, "fas fa-unlock icon")}}		<!-- 비밀번호 -->
					{{ render_field(form.confirm, "fas fa-lock icon")}}			<!-- 비밀번호 확인 -->

					<ul class="password-rule" style="display: block;">  
						<li>영문 소문자, 숫자, 특수문자를 조합한 8~15자</li>
						<li>특수문자는 ! @ # $ % ^ & * 만 지원가능합니다.</li>
						<li>띄워쓰기는 불가합니다.</li>
					</ul>


					{{ render_field(form.fullname, "fas fa-user icon")}}		<!-- 이름 -->
					{{ render_field(form.name, "fas fa-address-card icon")}}	<!-- 별명 -->

					<div class="form-group">
						<i class="fas fa-birthday-cake icon"></i>
						<select id="year" name="year" class="form-control select" required>
							<option value="" selected disabled >출생년도</option>
							{% for i in range(2005, 1949, -1) %}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}

						</select>

						<select id="month" name="month" class="form-control select" required>
							<option value="" selected disabled >월</option>
							<option value="01">1</option>
							<option value="02">2</option>
							<option value="03">3</option>
							<option value="04">4</option>
							<option value="05">5</option>
							<option value="06">6</option>
							<option value="07">7</option>
							<option value="08">8</option>
							<option value="09">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>

						<select id="day" name="day" class="form-control select" required>
							<option value="" selected disabled>일</option>
							<option value="01">1</option>
							<option value="02">2</option>
							<option value="03">3</option>
							<option value="04">4</option>
							<option value="05">5</option>
							<option value="06">6</option>
							<option value="07">7</option>
							<option value="08">8</option>
							<option value="09">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
					</div>

					<div class="form-group">
						<i class="fas fa-venus-mars icon"></i>
						<select id="sex" name="sex" class="form-control select" required>
							<option value="" selected disabled>성별</option>
							<option value="M">남성</option>
							<option value="F">여성</option>
						</select>
					</div>

				
					<ul>
						<li><input type='checkbox' name='enable1' value='agree' required >  &nbsp; 
							와이즈돔의 이용약관에 동의합니다.(필수)</li>
						<li><a href="#" id="read-detail">자세히보기</a></li>
					</ul>

					<button type="submit" class="btn btn-primary btn-block">가입하기</button>
				</form>

				<div id="myModal" class="modal" style="display:none;">
					<div class="modal-content">
						<span class="close">&times;</span>
						<img src="/static/new_design/images/wisedome-logo.png" alt="logo">

						<div class="terms">
							<h3>와이즈돔 이용약관</h3>
							<textarea>
제 1조 (목적) 
 이 약관은 Data.ly("회사" 또는 "Data.ly")가 제공하는 wisedome 및 wisedome 관련 제반 서비스의 이용과 관련하여 회사와 회원과의 권리․의무 및 책임사항을 규정함을 목적으로 합니다.

제 2조 (정의)
이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
①"회사"라 함은 "서비스" 산업과 관련된 경제활동을 영위하는 자로서 서비스 및 제반 서비스를 제공하는 자를 말합니다.
②"서비스"라 함은 구현되는 단말기(PC, TV, 휴대형 단말기 등의 각종 유무선 장치를 포함)와 상관없이 "회원"이 이용할 수 있는 wisedome 및 wisedome 관련 제반 서비스를 의미합니다.
③"이용자"란 회사의 "서비스"에 접속하여 이 약관에 따라 "회사"가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
④"회원"이라 함은 회사의 "서비스"에 접속하여 이 약관에 따라 회원등록을 한 자로서, 계속적으로 "회사"가 제공하는 서비스를 이용할 수 있는 고객을 말합니다.
⑤"비회원"이라 함은 회원에 가입하지 않고 "회사"가 제공하는 서비스를 이용하는 자를 말합니다.
⑥"아이디(ID)"라 함은 "회원"의 식별과 "서비스" 이용을 위하여 "회원"임을 확인하고 비밀보호를 위해 "회원" 자신이 정한 문자 또는 숫자의 조합을 의미합니다.
⑦"비밀번호(Password)"라 함은 "회원"이 부여 받은 "아이디와 일치되는 "회원"임을 확인하고 비밀보호를 위해 "회원" 자신이 정한 문자, 숫자, 또는 특수문자의 조합을 의미합니다.
⑧"포인트"라 함은 서비스의 효율적 이용을 위해 회사가 임의로 책정 또는 지급, 조정할 수 있는 재산적 가치가 없는 "서비스" 상의 가상 데이터를 의미합니다.
⑨"게시물"이라 함은 "회원"이 "서비스"를 이용함에 있어 "서비스"상에 게시한 부호·문자·음성·음향·회상·동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.

제 3조 (약관 등의 명시와 설명 및 개정)
①"회사"는 이 약관의 내용을 "이용자"가 쉽게 알 수 있도록 초기 서비스화면(전면)에 게시합니다. 
②"회사"는 「약관의 규제에 관한 법률」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
③”회사”가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 제1항의 방식에 따라 그 개정약관의 적용일자 30일 전부터 적용일자 전일까지 공지합니다. 다만, 회원에게 불리한 약관의 개정의 경우에는 공지 외에 일정기간 서비스내 전자우편, 전자쪽지, 로그인시 동의창 등의 전자적 수단을 통해 따로 명확히 통지하도록 합니다.
④"회사"가 전항에 따라 개정약관을 공지 또는 통지하면서 회원에게 30일 기간내에 의사표시를 하지 않으면 의사표시가 표명된 것으로 본다는 뜻을 명확하게 공지 또는 통지하였음에도 회원이 명시적으로 거부의 의사표시를 하지 아니한 경우 회원이 개정약관에 동의한 것으로 봅니다.
⑤"회원"이 개정약관의 적용에 동의하지 않는 경우 회사는 개정 약관의 내용을 적용할 수 없으며, 이 경우 회원은 이용계약을 해지할 수 있습니다. 다만, 기존 약관을 적용할 수 없는 특별한 사정이 있는 경우에는 회사는 이용계약을 해지할 수 있습니다.

제 4조 (이용약관 및 운영정책 등의 해석)
①"회사"는 서비스 운영을 위해 별도의 운영정책을 마련하여 운영할 수 있으며, "회사"는 서비스에 운영정책을 사전 공지 후 적용합니다. 운영정책의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다. 본 약관에 동의한 이용자 모두에게 그 효력이 발생합니다.
②본 약관에서 규정되지 않은 사항이나 해석에 대해서는 별도의 운영정책, 관련법령 또는 상관례에 따릅니다. 또한 본 약관과 별도의 운영정책의 내용이 충돌할 경우 별도의 운영정책에 따릅니다.

제 5조 (이용계약 체결)
①이용계약은 "회원"이 되고자 하는 자(이하 "가입신청자")가 약관의 내용에 대하여 동의를 한 다음 회원가입신청을 하고 "회사"가 이러한 신청에 대하여 승낙함으로써 체결됩니다.②”회사”는 “가입신청자”의 신청에 대하여 “서비스” 이용을 승낙함을 원칙으로 합니다. 다만, “회사”는 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않거나 사후에 이용계약을 해지할 수 있습니다
1.가입신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 단 "회사"의 회원 재가입 승낙을 얻은 경우에는 예외로 함
2.실명이 아니거나 타인의 명의를 이용한 경우
3.허위의 정보를 기재하거나, "회사"가 제시하는 내용을 기재하지 않은 경우
4.만 14세 미만 아동이 법정대리인(부모 등)의 동의를 얻지 아니한 경우
5.이용자의 귀책사유로 인하여 승인이 불가능하거나 기타 규정한 제반 사항을 위반하며 신청하는 경우
③제1항에 따른 신청에 있어 "회사"는 "회원"의 종류에 따라 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.
④"회사"는 서비스 관련 설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우에는 승낙을 유보할 수 있습니다.
⑤제2항과 제4항에 따라 회원가입신청의 승낙을 하지 아니하거나 유보한 경우, "회사"는 이를 신청자에게 알려야 합니다. "회사"의 귀책사유 없이 신청자에게 통지할 수 없는 경우에는 예외로 합니다.
⑥이용계약의 성립 시기는 "회사"가 가입완료를 신청절차 상에서 표시한 시점으로 합니다.
⑦"회사"는 "회원"에 대해 회사정책에 따라 등급별로 구분하여 이용시간, 이용횟수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다.
⑧"회사"는 "회원"에 대하여 "영화 및 비디오물의 진흥에 관한 법률" 및 "청소년보호법"등에 따른 등급 및 연령 준수를 위해 이용제한이나 등급별 제한을 할 수 있습니다.

제 6조 (미성년자의 회원가입에 관한 특칙)
①만 14세 미만의 "이용자"는 개인정보의 수집 및 이용목적에 대하여 충분히 숙지하고 부모 등 법정대리인의 동의를 얻은 후에 회원가입을 신청하고 본인의 개인정보를 제공하여야 합니다.
②회사는 부모 등 법정대리인의 동의에 대한 확인절차를 거치지 않은 14세 미만 이용자에 대하여는 가입을 취소 또는 불허합니다.
③만 14세 미만 "이용자"의 부모 등 법정대리인은 아동에 대한 개인정보의 열람, 정정, 갱신을 요청하거나 회원가입에 대한 동의를 철회할 수 있으며, 이러한 경우에 "회사"는 지체 없이 필요한 조치를 취해야 합니다.

제 7조 (회원정보의 변경)
①"회원"은 개인정보관리화면을 통하여 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다.
②"회원"은 회원가입신청 시 기재한 사항이 변경되었을 경우 온라인으로 수정을 하거나 전자우편 기타 방법으로 "회사"에 대하여 그 변경사항을 알려야 합니다.
③제2항의 변경사항을 "회사"에 알리지 않아 발생한 불이익에 대하여 "회사"는 책임지지 않습니다.

제 8조 (개인정보보호의 의무)
"회사"는 "정보통신망법" 등 관계 법령이 정하는 바에 따라 "회원"의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 사용에 대해서는 관련법 및 "회사"의 개인정보처리방침이 적용되지 않습니다.

제 9조 ("회원"의 "아이디" 및 "비밀번호"의 관리에 대한 의무)
①"회원"의 "아이디"와 "비밀번호"에 관리책임은 "회원"에게 있으며, 이를 제3자가 이용하도록 하여서는 안 됩니다.
②"회사"는 "회원"의 "아이디"가 개인정보 유출 우려가 있거나, 반사회적 또는 미풍양속에 어긋나거나 "회사" 및 "회사"의 운영자로 오인할 우려가 있는 경우 해당 "아이디"의 이용을 제한할 수 있습니다.
③"회원"은 "아이디" 및 "비밀번호"가 도용되거나 제3자에 의해 사용되고 있음을 인지한 경우에는 이를 즉시 "회사"에 통지하고 "회사"의 안내에 따라야 합니다.
④제3항의 경우에 해당 "회원"이 "회사"에 그 사실을 통지하지 않거나, 통지한 경우에도 "회사"의 안내에 따르지 않아 발생한 불이익에 대하여 "회사"는 책임지지 않습니다.

제 10조 ("회원"에 대한 통지)
①"회사"가 "회원"에 대한 통지를 하는 경우 "회원"이 지정한 전자우편주소, 전자쪽지로 할 수 있습니다.
②"회사"는 "회원"전체에 대한 통지의 경우 7일 이상 "회사"의 게시판에 게시함으로써 제1항의 통지에 갈음할 수 있습니다. 다만, "회원" 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 제1항의 통지를 합니다.

제 11조 (회원탈퇴 및 자격 상실 등)
①"회원"은 "회사"에 언제든지 탈퇴를 요청할 수 있으며 "회사"는 즉시 회원탈퇴를 처리합니다.
②"회원"이 다음 각 호의 사유에 해당하는 경우, "회사"는 회원자격을 제한 및 정지시킬 수 있습니다.
1.가입신청 시에 허위내용을 등록한 경우
2.다른 사람의 "회사"의 서비스 이용을 방해하거나 그 정보를 도용하는 등 서비스 질서를 위협하는 경우
3."회사"를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
③"회사"가 회원자격을 제한·정지시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 "회사"는 회원자격을 상실시킬 수 있습니다.
④"회사"가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 "회원"에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.

제 12조 ("회사"의 의무)
①"회사"는 관련법과 이 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 계속적이고 안정적으로 "서비스"를 제공하기 위하여 최선을 다하여 노력합니다.
②"회사"는 "회원"이 안전하게 "서비스"를 이용할 수 있도록 개인정보보호를 위해 보안시스템을 갖추어야 하며 개인정보보호정책을 공시하고 준수합니다.
③"회사"는 서비스이용과 관련하여 "회원"으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 처리해야합니다. "회원"이 제기한 의견이나 불만사항에 대해서는 게시판을 활용하거나 전자우편 등을 통하여 “회원”에게 처리과정 및 결과를 전달합니다.

제 13조 ("회원"의 의무)
①"회원"은 다음 행위를 하여서는 안 됩니다.
1.신청 또는 변경 시 허위내용의 등록
2.타인의 정보도용
3."회사"에 게시된 정보의 변경
4."회사"가 금지한 정보(컴퓨터 프로그램 등)의 송신 또는 게시
5."회사"와 기타 제3자의 저작권 등 지적재산권에 대한 침해
6."회사" 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
7.외설 또는 폭력적인 말이나 글, 화상, 음향, 기타 공서양속에 반하는 정보를 "회사"의 서비스에 공개 또는 게시하는 행위
8.회사의 동의 없이 영리를 목적으로 "서비스"를 사용하는 행위
9.기타 불법적이거나 부당한 행위
②"회원"은 관계법, 이 약관의 규정, 이용안내 및 "서비스"와 관련하여 공지한 주의사항, "회사"가 통지하는 사항 등을 준수하여야 하며, 기타 "회사"의 업무에 방해되는 행위를 하여서는 안 됩니다.
③"회원"이 카페, 블로그 서비스를 이용하여 통신판매 또는 통신판매중개를 업으로 하는 경우 전자상거래 등에서의 소비자보호에 관한 법률에 따른 의무를 준수하여야 하며, "회사"는 개별 서비스 이용약관 및 정책에서 관련 내용을 규정할 수 있습니다.

제 14조 ("서비스"의 제공 및 중단)
①"회사"는 "회원"에게 아래와 같은 "서비스"를 제공합니다.
1.데이터 수집 프로젝트(이미지 및 비디오, 오디오, 텍스트)
2.데이터 가공 프로젝트(이미지 및 비디오, 오디오, 텍스트, 멀티모달)
3.가공된 데이터 제공(일정 권한을 가진 사용자 대상)
4.데이터 수집 및 가공 프로젝트에 참여한 회원들에게 수수료 지급
5.교육 제공 및 시험, 과제 제공
6.기타 "회사"가 추가 개발하거나 다른 회사와의 제휴계약 등을 통해 "회원"에게 제공하는 일체의 서비스
②"서비스"는 연중무휴, 1일 24시간 제공함을 원칙으로 합니다.
③"회사"는 서비스"를 일정범위로 분할하여 각 범위 별로 이용가능시간을 별도로 지정할 수 있습니다. 다만, 이러한 경우에는 그 내용을 사전에 공지합니다.
④"회사"는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우 "서비스"의 제공을 일시적으로 중단할 수 있습니다. 이 경우 "회사"는 제10조["회원"에 대한 통지]에 정한 방법으로 "회원"에게 통지합니다. 다만,"회사"가 사전에 통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.
⑤"회사"는 "서비스"의 제공에 필요한 경우 정기점검을 실시할 수 있으며, 정기점검시간은 서비스제공화면에 공지한 바에 따릅니다.
⑥"회사"는 무료로 제공되는 서비스의 일부 또는 전부를 "회사"의 정책 및 운영에 필요상 중단할 수 있으며, 이에 대하여 관련법에 특별한 규정이 없는 한 "회원"에게 별도의 보상을 하지 않습니다.

제 15조 ("서비스"의 변경)
①"회사"는 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 제공하고 있는 일부 "서비스"를 변경할 수 있습니다.
②"서비스"의 내용, 이용방법, 이용시간을 변경할 경우에 변경사유, 변경될 "서비스"의 내용 및 제공일자 등은 그 변경 전에 해당 서비스 초기화면에 게시하여야 합니다.
③"회사"는 무료로 제공되는 서비스의 일부 또는 전부를 "회사"의 정책 및 운영에 필요상 수정, 변경할 수 있으며, 이에 대하여 관련법에 특별한 규정이 없는 한 "회원"에게 별도의 보상을 하지 않습니다.

제 16조 (정보의 제공 및 광고의 게재)
①"회사"는 "회원"이 "서비스" 이용 중 필요하다고 인정되는 다양한 정보를 공지사항이나 전자우편 등의 방법으로 "회원"에게 제공할 수 있습니다. 다만, "회원"은 언제든지 전자우편 등을 통하여 수신 거절을 할 수 있습니다.
②제1항의 정보를 전화 및 모사전송기기에 의하여 전송하려고 하는 경우에는 "회원"의 사전 동의를 받아서 전송합니다. 다만, "회원"의 거래관련 정보 및 고객문의 등에 대한 회신에 있어서는 제외됩니다.
③"회사"는 "서비스"의 운영과 관련하여 서비스 화면, 홈페이지, 전자우편 등에 광고를 게재할 수 있습니다. 광고가 게재된 전자우편을 수신한 "회원"은 수신거절을 "회사"에게 할 수 있습니다.
④"이용자(회원, 비회원 포함)"는 회사가 제공하는 서비스와 관련하여 게시물 또는 기타 정보를 변경, 수정, 제한하는 등의 조치를 취하지 않습니다.

제 17조 ("게시물"의 저작권)
①"회원"이 "서비스"내에 게시한 "게시물"의 저작권은 해당 게시물의 저작자에게 귀속됩니다.
②"회원"이 "서비스"내에 게시하는 "게시물"은 검색결과 내지 "서비스" 및 관련 프로모션 등에 노출될 수 있으며, 해당 노출을 위해 필요한 범위 내에서는 일부 수정, 복제, 편집되어 게시될 수 있습니다. 이 경우, 회사는 저작권법 규정을 준수하며, "회원"은 언제든지 고객센터 또는 "서비스"내 관리기능을 통해 해당 게시물에 대해 삭제, 검색결과 제외, 비공개 등의 조치를 취할 수 있습니다.
③"회사"는 제2항 이외의 방법으로 "회원"의 게시물"을 이용하고자 하는 경우에는 전화, 팩스, 전자우편 등을 통해 사전에 "회원"의 동의를 얻어야 합니다.

제 18 조 ("게시물"의 관리)
①"회원"의 "게시물"이 "정보통신망법" 및 "저작권법" 등 관련법에 위반되는 내용을 포함하는 경우, 권리자는 관련법이 정한 절차에 따라 해당 "게시물"의 게시중단 및 삭제 등을 요청할 수 있으며, "회사"는 관련법에 따라 조치를 취하여야 합니다.
②"회사"는 전항에 따른 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사 정책 및 관련법에 위반되는 경우에는 관련법에 따라 해당 "게시물"에 대해 임시조치 등을 취할 수 있습니다.
③본 조에 따른 세부절차는 "정보통신망법" 및 "저작권법"이 규정한 범위 내에서 "회사"가 정한 "게시중단요청서비스"에 따릅니다.

제 19조 (권리의 귀속)
①"서비스"에 대한 저작권 및 지적재산권은 "회사"에 귀속됩니다. 단, "회원"의 "게시물" 및 제휴계약에 따라 제공된 저작물 등은 제외합니다.
②"회사"는 "서비스"와 관련하여 "회원"에게 "회사"가 정한 이용조건에 따라 계정, "아이디", "서비스", "포인트" 등을 이용할 수 있는 이용권만을 부여하며, "회원"은 이를 양도, 판매, 담보제공 등의 처분행위를 할 수 없습니다.

제 20조 (포인트)
“회사”는 서비스의 효율적 이용 및 운영을 위해 사전 공지 후 “포인트”의 일부 또는 전부를 조정할 수 있으며, “포인트”는 회사가 정한 기간에 따라 주기적으로 소멸할 수 있습니다. 회사가 서비스를 전부 또는 일부 중단할 때에도 마찬가지로 관련 “포인트”는 소멸할 수 있습니다


제 21조 (계약해제, 해지 등)
①"회원"은 언제든지 서비스초기화면의 고객센터 또는 내 정보 관리 메뉴 등을 통하여 이용계약 해지 신청을 할 수 있으며, "회사"는 관련법 등이 정하는 바에 따라 이를 즉시 처리하여야 합니다.
②"회원"이 계약을 해지할 경우, 관련법 및 개인정보처리방침에 따라 "회사"가 회원정보를 보유하는 경우를 제외하고는 해지 즉시 "회원"의 모든 데이터는 소멸됩니다.
③"회원"이 계약을 해지하는 경우, "회원"이 작성한 "게시물" 중 메일, 블로그 등과 같이 본인 계정에 등록된 게시물 일체는 삭제됩니다. 다만, 타인에 의해 담기, 스크랩 등이 되어 재게시되거나, 공용게시판에 등록된 "게시물" 등은 삭제되지 않으니 사전에 삭제 후 탈퇴하시기 바랍니다.

제 22조 (이용제한 등)
①"회사"는 "회원"이 이 약관의 의무를 위반하거나 "서비스"의 정상적인 운영을 방해한 경우 경고, 일시정지, 등급 조정, 영구이용정지 등으로 "서비스" 이용을 단계적으로 제한할 수 있습니다.
②"회사"는 전항에도 불구하고, "주민등록법"을 위반한 명의도용 및 결제도용, "저작권법" 및 "컴퓨터프로그램보호법"을 위반한 불법프로그램의 제공 및 운영방해, "정보통신망법"을 위반한 불법통신 및 해킹, 악성프로그램의 배포, 접속권한 초과행위 등과 같이 관련법을 위반한 경우에는 즉시 영구이용정지를 할 수 있습니다. 본 항에 따른 영구이용정지시 "서비스" 이용을 통해 획득한 "포인트" 및 기타 혜택 등도 모두 소멸되며, "회사"는 이에 대해 별도로 보상하지 않습니다.
③"회사"는 "회원"이 계속해서 3개월 이상 로그인하지 않는 경우 회원정보의 보호 및 운영의 효율성을 위해 이용을 제한할 수 있습니다.
④"회사"는 본 조의 이용제한 범위 내에서 제한의 조건 및 세부내용은 이용제한정책 및 개별 서비스상의 운영정책에서 정하는 바에 의합니다.
⑤본 조에 따라 "서비스"이용을 제한하거나 계약을 해지하는 경우에는 "회사"는 제10조["회원"에 대한 통지]에 따라 통지합니다.
⑥"회원"은 본 조에 따른 이용제한 등에 대해 "회사"가 정한 절차에 따라 이의신청을 할 수 있습니다. 이 때 이의가 정당하다고 "회사"가 인정하는 경우 "회사"는 즉시 "서비스"의 이용을 재개합니다.

제 23조 (책임제한)
①"회사"는 천재지변 또는 이에 준하는 불가항력으로 인하여 "서비스"를 제공할 수 없는 경우에는 "서비스" 제공에 관한 책임이 면제됩니다.
②"회사"는 "회원"의 귀책사유로 인한 "서비스"이용의 장애에 대하여는 책임을 지지 않습니다.
③"회사"는 "회원"이 "서비스"와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.
④"회사"는 "회원"간 또는 "회원"과 제3자 상호간에 "서비스"를 매개로 하여 거래 등을 한 경우에는 책임이 면제됩니다.
⑤"회사"는 무료로 제공되는 서비스 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지 않습니다.

제 24조 (준거법 및 재판관할)
①"회사"와 "회원"간 제기된 소송은 대한민국법을 준거법으로 합니다.
②"회사"와 "회원"간 발생한 분쟁에 관한 소송은 제소 당시의 "회원"의 주소에 의하고, 주소가 없는 경우 거소를 관할하는 지방법원의 전속관할로 합니다. 단, 제소 당시 "회원"의 주소 또는 거소가 명확하지 아니한 경우의 관할법원은 민사소송법에 따라 정합니다.
③해외에 주소나 거소가 있는 "회원"의 경우 "회사"와 "회원"간 발생한 분쟁에 관한 소송은 전항에도 불구하고 대한민국 서울중앙지방법을 관할 법원으로 합니다.
	</textarea>
</div>

<div class="terms">
	<h3>개인정보 수집 및 이용동의</h3>
		<textarea>
Data.ly는 회원의 개인정보를 안전하게 취급하기 위해 최선을 다하고 있습니다.
      
1. 수집하는 개인정보의 항목
  1) 회원가입 시: 아이디, 이메일, 비밀번호, 이름, 주소, 연령대, 성별, 휴대전화번호
  2) 프로젝트 참여에 따른 환급금 지급시: 환급 신청자 정보(아이디), 계좌정보(은행/증권회사명, 계좌번호, 예금주명)
  3) 서비스 이용 과정에서 IP 주소, 쿠키, 서비스 이용 기록, 기기정보가 생성되어 수집될 수 있습니다.

2. 수집한 개인정보의 이용
회사는 회원관리, 서비스 개발·제공 및 향상 등 아래의 목적으로만 개인정보를 이용합니다.
  1) 회원 가입 의사의 확인, 연령 확인(만 14세 이상 여부), 이용자의 본인 확인, 이용자 식별, 회원탈퇴 의사의 확인 등 회원관리
  2) 프로젝트 참여에 따른 환급금 제공
  3) 크라우드 소싱 제공대상(경력단절 여성, 고령층 등) 확인, 봉사인증서 배송
  4) 콘텐츠 등 기존 서비스 제공(광고 포함)에 더하여, 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 맞춤형 서비스 제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선 등
  5) 법령 및 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정 등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영
  6) 이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션 목적

3. 개인정보의 보유기간
회사는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기합니다. 단, 이용자에게 개인정보 보관기관에 대해 별도의 동의를 얻은 경우 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에 해당 기간 동안 개인정보를 안전하게 보관합니다.
  1) 이용자에게 개인정보 보관기관에 대해 회원가입 시 동의를 얻은 경우는 아래와 같습니다.
  - 부정가입 및 이용 방지를 위한 부정가입 및 이용기록: 탈퇴일로부터 6개월까지 부정가입 및 이용기록은 이용자의 이름, 휴대전화번호, 아이디(이메일)
  - 환급금 중복제공 등 방지를 위한 부정거래기록: 탈퇴일로부터 6개월까지 부정거래기록은 아이디, 이름, 휴대폰번호, IP주소, 쿠키, 기기정보, 지급계좌 정보(은행명, 계좌번호, 예금주명)
  - 봉사 인증서 발급 확인을 위한 인증기록: 탈퇴일로부터 6개월까지 인증기록은 이용자의 이름, 휴대폰번호, 아이디(이메일)
  2) 전자상거래 등에서 소비자 보호에 관한 법률, 전자금융거래법, 통신비밀보호법 등 관련 법령에서 일정기간 정보의 보관을 규정하는 경우는 아래와 같습니다. 회사는 이 기간동안 법령의 규정에 따라 개인정보를 보관하며, 본 정보를 다른 목적으로 절대 이용하지 않습니다.
  - 전자상거래 등에서 소비자 보호에 관한 법률 계약 또는 청약철회 등에 관한 기록: 5년 보관대금결제 및 재화 등의 공급에 관한 기록: 5년 보관 소비자의 불만 또는 분쟁처리에 관한 기록: 3년 보관
  - 전자금융거래법 전자금융에 관한 기록: 5년 보관
  - 통신비밀보호법 로그인 기록: 3개월
 
귀하는 동의를 거부할 권리가 있습니다. 그러나 Wisedome 서비스 제공을 위해 필요한 최소한의 개인정보이므로 동의를 하지 
않으시면 Wisedome 서비스 이용이 불가능합니다.더 자세한 내용에 대해서는 Data.ly의 Wisedome 개인정보처리방침을 참고하시기 바랍니다.
		</textarea>
	</div>

<div class="terms">
 <h3>개인정보처리방침</h3>
 <textarea> 
주식회사 Data.ly(이하 “회사”)가 운영하는 wisedome 홈페이지(http://www.wisedome.kr)는 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 ‘정보통신망법’), 개인정보보호법 등 관련 법률에 따라 이용자의 개인정보를 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 수립하여 공개하고 있습니다. 

1. 수집하는 개인정보의 항목 
회사가 이용자로부터 수집하는 개인정보 항목은 다음과 같습니다. 
  1) 회원가입 시: 아이디, 이메일, 비밀번호, 이름, 주소, 연령대, 성별, 휴대전화번호
  2) wisedome 내 프로젝트 참여에 따른 환급 시: 환급 신청자 정보(아이디, 연락처, 이메일), 계좌정보(은행/증권회사명, 계좌번호, 예금주명)
  3) wisedome 내 프로젝트 참여에 따른 봉사활동 입력 시: 봉사 신청자 정보(아이디, 이름, 생년원일)
  4) 서비스 이용 과정에서 IP 주소, 쿠키, 서비스 이용 기록, 기기정보, 위치정보가 생성되어 수집될 수 있습니다.
  5) 그 밖의 wisedome 내의 개별 서비스 이용 과정에서 해당 서비스의 이용자에 한해 추가 개인정보 수집이 발생할 수 있습니다. 추가로 개인정보를 수집할 경우에는 해당 개인정보 수집 시점에서 이용자에게 ‘수집하는 개인정보 항목, 개인정보의 수집 및 이용목적, 개인정보의 보관기간’에 대해 안내 드리고 동의를 받습니다. 

2. 개인정보의 수집방법 
회사는 아래의 방법을 통해 개인정보를 수집합니다.
  1) 홈페이지 회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 방법으로 수집합니다.
  2) 오프라인에서 진행되는 이벤트, 세미나 등에서 서면을 통해 수집될 수 있습니다.
  3) 고객센터를 통한 상담과정에서 웹페이지, 팩스, 전화 등을 통하여 수집될 수 있습니다.
  4) 기기정보와 같은 생성정보는 PC웹, 모바일 웹/앱 이용 과정에서 자동으로 생성되어 수집될 수 있습니다. 

3. 수집한 개인정보의 이용 
회사는 회원관리, 서비스 개발·제공 및 향상 등 아래의 목적으로만 개인정보를 이용합니다. 
  1) 회원 가입 의사의 확인, 연령 확인(만 14세 이상 여부), 이용자의 본인 확인, 이용자 식별, 회원탈퇴 의사의 확인 등 회원관리
  2) 프로젝트 참여에 따른 환급금 제공
  3) 크라우드 소싱 제공대상(경력단절 여성, 고령층 등) 확인, 봉사인증서 배송
  4) 콘텐츠 등 기존 서비스 제공(광고 포함)에 더하여, 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 맞춤형 서비스 제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선 등
  5) 법령 및 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정 등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영
  6) 이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션 목적

4. 개인정보의 제공 및 위탁 
회사는 원칙적으로 이용자의 동의 없이 개인정보를 외부에 제공하지 않습니다. 단, 이용자가 개인정보 제공에 직접 동의한 경우, 그리고 관련 법령에 의거하여 회사가 개인정보 제공의무가 발생한 경우, 이용자의 생명이나 안전에 급박한 위험이 확인되어 이를 해소하기 위한 경우 개인정보를 제공합니다. 

5. 개인정보의 파기 
  1) 회사는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기합니다. 단, 이용자에게 개인정보 보관기관에 대해 별도의 동의를 얻은 경우 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에 해당 기간 동안 개인정보를 안전하게 보관합니다.
  2) 이용자에게 개인정보 보관기관에 대해 회원가입 시 동의를 얻은 경우는 아래와 같습니다. 
    - 부정가입 및 이용 방지를 위한 부정가입 및 이용기록: 탈퇴일로부터 6개월까지
      부정가입 및 이용기록은 이용자의 이름, 휴대전화번호, 아이디(이메일) 
    - 환급금 중복제공 등 방지를 위한 부정거래기록: 탈퇴일로부터 6개월까지
      부정거래기록은 아이디, 이름, 휴대폰번호, IP주소, 쿠키, 기기정보, 지급계좌 정보(은행명, 계좌번호, 예금주명) 
    - 봉사 인증서 발급 확인을 위한 인증기록: 탈퇴일로부터 6개월까지
      인증기록은 이용자의 이름, 휴대폰번호, 아이디(이메일) 
  3) 전자상거래 등에서 소비자 보호에 관한 법률, 통신비밀보호법 등 관련 법령에서 일정기간 정보의 보관을 규정하는 경우는 아래와 같습니다. 회사는 이 기간 동안 법령의 규정에 따라 개인정보를 보관하며, 본 정보를 다른 목적으로 절대 이용하지 않습니다. 
  전자상거래 등에서 소비자 보호에 관한 법률
   - 계약 또는 청약철회 등에 관한 기록: 5년 보관 
   - 대금결제 및 재화 등의 공급에 관한 기록: 5년 보관 
   - 소비자의 불만 또는 분쟁처리에 관한 기록: 3년 보관 
  전자금융거래법
  -  전자금융에 관한 기록: 5년 보관 
  통신비밀보호법
  - 로그인 기록: 3개월 
  4) 각 업무 목적에 필요한 보유기간을 기재하시면 됩니다. 기재된 사항은 모두 예시이며, 실제 필요하신 내용에 맞게 수정 보완하시면 됩니다 회원탈퇴, 서비스 종료, 이용자에게 동의 받은 개인정보 보유기간의 도래와 같이 개인정보의 수집 및 이용목적이 달성된 개인정보는 재생 불가능한 방법으로 파기합니다. 
  - 서면양식에 기재하거나, 종이에 출력된 개인정보는 분쇄기로 분쇄 또는 소각하여 파기하고, 전자적 파일형태로 저장된 개인정보는 기록을 복구 및 재생할 수 없는 기술적 방법을 사용하여 파기합니다. 

6. 이용자의 권리 및 그 행사방법 
  1) 이용자는 언제든지 wisedome 홈페이지 [회원정보변경] 내에서 자신의 개인정보를 조회하거나 수정할 수 있습니다. 
  2) 이용자는 언제든지 회원탈퇴 등을 통하여 개인정보의 수집 및 이용 동의를 철회할 수 있습니다.
  3) 이용자는 회사에 대하여 개인정보의 열람, 정정, 삭제, 처리정지 요구를 할 수 있습니다. 개인정보의 정정 또는 삭제 시, 회사는 정정 또는 삭제를 완료하기 전까지 당해 개인정보를 이용하거나 제공하지 않습니다.
  4) 이용자는 법정대리인이나 위임을 받은 자 등 대리인을 통하여 제3항의 권리를 행사할 수 있고, 이 경우 개인정보보호법에 따른 위임장을 제출하셔야 합니다.
  5) 이용자의 열람, 정정, 삭제, 처리정지 요구는 개인정보보호법 등 관련 법령에 따라 제한될 수 있습니다.

7. 개인정보의 안전성 확보조치 
회사는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
  1) 관리적 조치: 내부관리계획 수립∙시행, 정기적 직원 교육 
  2) 기술적 조치: 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치 
  3) 물리적 조치: 전산실, 자료보관실 등의 접근통제 

8. 개인정보 자동 수집 장치의 설치와 운영 및 그 거부에 관한 사항 
  1) 서비스 이용 과정에서 IP 주소, 쿠키, 서비스 이용 기록, 기기정보, 위치정보, 세션, 쿠키가 자동으로 생성되어 수집될 수 있습니다.
    - 자동생성정보: 방문일시, 서비스 이용기록, 접속IP정보, 접속 로그, 기기정보(고유기기식별값, OS버전), 쿠키(쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자 PC 컴퓨터의 하드디스크에 저장되기도 합니다.) 
    - 쿠키의 사용목적: 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용 됩니다 
  2) 아래 방법을 통해 쿠키 저장을 거부할 수 있습니다.
    - Internet Explorer의 경우: 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정 
    - Microsoft Edge의 경우: 웹브라우저 상단 메뉴 > 설정 > 고급 설정 보기 > 쿠키 메뉴의 옵션 설정 
    - Chrome의 경우: 웹브라우저 상단 메뉴 > 설정 > 고급 > 콘텐츠 설정 > 쿠키 메뉴의 옵션 설정 
  3) 쿠키 저장을 거부할 경우, 서비스 이용에는 문제가 없으나 맞춤형 서비스를 이용하실 수 없습니다.

9. 개인정보 보호책임자 및 담당자 안내 
  1) 회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 이용자의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보보호책임자를 지정하고 있습니다 개인정보 보호책임자
  - 성명: 최윤진 연구원
  - 담당부서 : 경영지원실
  - 연락처 : cyjc1009@changwon.ac.kr

10. 개정 전 고지의무 및 개인정보처리방침의 변경에 관한 사항 
이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 가능한 변경사항의 시행 7일 전에 홈페이지 또는 이메일 등을 통해 사전 공지하고 사전 공지가 곤란한 경우 지체없이 공지합니다. 
 </textarea>
  </div>  
 <h3><span id="closeBtn">  &#9587; </span></h3> 

</div>
</div>
</div>


			<div class="register" >
				<span >이미 회원이세요? <a href="{{ url_for('account.signin' )}}">지금 바로 로그인하기</a></span>
			</div>

		</div> 
	</section>

	<script src="/static/new_design/js/register.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/add-js/jquery-1.12.4.min.js')}}"></script>

	<script>
		var div = $("label[for = 'fullname']").parent();
$("#fullname").attr("placeholder", "이름");

var div = $("label[for = 'name']").parent();
$("#name").attr("placeholder", "별명");
$("#name").attr("type", "text");
$("#name").attr("id", "_name");

var div = $("label[for = 'email_addr']").parent();
$("#email_addr").attr("placeholder", "이메일");

var div = $("label[for = 'password']").parent();
$("#password").attr("placeholder", "비밀번호");

var div = $("label[for = 'confirm']").parent();
$("#confirm").attr("placeholder", "비밀번호 재확인");


function email_auth() {
	return;
	if ($(".mail_chk").attr('id') == "false") {
		alert("인증되지 않은 이메일입니다.");
		return false;
	}
	else {
		return;
	}
}

$(document).ready(function(){
	var csrf = "{{ csrf_token() }}";
	$("#csrf_token").val(csrf);

	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
				xhr.setRequestHeader("X-CSRFToken", csrf)
			}
		}
	});

	var random_num = 0;

	$(".email-confirm").on('click', function(){


		random_num = Math.floor(Math.random()*(999999-100000+1)) + 100000;

		var email = $('#email_addr').val();

		if (email == "") {
			random_num = 0;
		}


		$.ajax({
			url: '{{url_for("gmail.auth_msg")}}',
			data: {"random_num": random_num, "email": email},
			type: 'POST',
			success: function(res) {
				if (res == "CAN'T SEND") {
					return;
				}
				if (res != "SEND") {
					alert('이메일 전송 실패');
				}
			},
			error:function(request, error) {
				console.log(request);
				console.log(error);
			}
		});
	});


	$("#dialogResend").on('click', '#re-send-email', function(){

		random_num = Math.floor(Math.random()*(999999-100000+1)) + 100000;

		var email = $('#email_addr').val();

		if (email == "") {
			random_num = 0;
		}

		$.ajax({
			url: '{{url_for("gmail.auth_msg")}}',
			data: {"random_num": random_num, "email": email},
			type: 'POST',
			success: function(res) {
				if (res == "CAN'T SEND") {
					return;
				}
				if (res != "SEND") {
					alert('이메일 전송 실패');
				}
			},
			error:function(request, error) {
				console.log(request);
				console.log(error);
			}
		});
	});


	$("#dialogOk").on('click', function(){
		var auth_num = $("#auth_num").val();

		if(auth_num == random_num && $("#dialogtime").text() != "인증시간이 초과되었습니다" ) {

			alert('인증되었습니다.');
			document.getElementById('dialogbox').style.display = "none";
			document.getElementById('dialogoverlay').style.display = "none";
			document.getElementById('emptybox').style.display = "none";
			document.getElementById('emptyoverlay').style.display = "none";

			$("#email_addr").attr("readonly", true);
			$("#email_addr").css("background", "#dfdfdf");
			$(".mail_chk").attr('id', 'true');


		}
		else {
			alert('인증번호가 일치하지 않습니다.');
		}
	});
});


	</script>

</body>
</html>
