<! -- Fix for Bootstrap css with Google Maps https://github.com/twitter/bootstrap/issues/1552 -->
<style type="text/css">
.map_canvas label {
    width: auto;
    display: inline;
}
.olTileImage {
    max-width: none !important;
}

.layersDiv label {
    color: white;
}

table#necat {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table>td, th {
    border: 1px solid black;
    text-align: center;
    margin: auto;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddded;
}
</style>
<div class="row">
    <!-- Success and Error Messages for the user -->
    <div class="col-md-12" style="height:50px">
        <!-- Success alert box -->
        <div id="success" class="alert alert-success" style="display:none;">
            <a class="close">×</a><strong>Well done!</strong> Your answer has been saved
        </div>
        <!-- Task completed alert box -->
        <div id="taskcompleted" class="alert alert-info" style="display:none;">
            <strong>The task has been completed!</strong> Thanks a lot!
        </div>
        <!-- Task loading alert box -->
        <div id="loadingTask" class="alert alert-info">
            <strong>Loading task...</strong>
        </div>
        <!-- Task completed alert box -->
        <div id="finish" class="alert alert-success" style="display:none;">
            <strong>Congratulations!</strong> You have participated in all available tasks!
            <br/>
            <div class="alert-actions">
<!--                <a class="btn small" href="/" style="color:white">Go back</a>-->
                <a class="btn small" href="/project/category/featured">Check other projects</a>
            </div>
        </div>
        <!-- Error alert box -->
        <div id="error" class="alert alert-danger" style="display:none;">
            <a class="close">×</a>
            <strong>Error!</strong> Something went wrong, please contact the site administrators
        </div>
        <!-- Old Browser alert box -->
        <div id="oldBrowser" class="alert alert-info" style="display:none;">
            <a class="close">×</a>
            <p><strong>Sorry!</strong> Your web browser does not support the application.<p>
            <div class="alert-actions">
                <a class="btn small" href="/project/category/featured">Please, try with another project</a>
            </div>
        </div>
    </div><!-- End of span8 col-md-offset-2-->
</div><!-- End of Row-->

<div class="row">
  <div class="skeleton col-md-6">
	<u>올바른 분석을 선택하세오.</u><br/><br/>
	<div id="sentence">Question</div>
	<div id="candidate"></div>
	<button id="nextbtn" class="btn btn-success btn-submit" style="float: right;">다음</button><br/><br/>
	<p>Task: <span id="task-id" class="label label-warning">#</span></p><br/>

	<table border="1" width="100%">
		<tr><td text-align="left"><b><u>WIKIPEDIA</u></b></td></tr>
		<tr><td text-align="left"><div id="wikicontent">None</div></td></tr>
	</table>

  </div>
  <div class="skeleton col-md-6">
    <div id="div3">
      <div id="tagset">
		  	  <font size="2">
			  <table class="table table-bordered" id="necat">
				<tbody>
				<tr>
				<td>&nbsp;</td>
				<th scope="col">개체명 범주</th>
				<th scope="col">태그</th>
				<th scope="col">정의</th>
				</tr>
				<tr>
				<td>1</td>
				<td>PERSON</td>
				<td>PER</td>
				<td>실존, 가상 등 인물명에 해당 하는 것</td>
				</tr>
				<tr>
				<td>2</td>
				<td>FIELD</td>
				<td>FLD</td>
				<td>학문 분야 및 이론, 법칙, 기술 등</td>
				</tr>
				<tr>
				<td>3</td>
				<td>ARTIFACTS_WORKS</td>
				<td>AFW</td>
				<td>인공물로 사람에 의해 창조된 대상물</td>
				</tr>
				<tr>
				<td>4</td>
				<td>ORGANIZATION</td>
				<td>ORG</td>
				<td>기관 및 단체와 회의/회담을 모두 포함</td>
				</tr>
				<tr>
				<td>5</td>
				<td>LOCATION</td>
				<td>LOC</td>
				<td>지역명칭과 행정구역 명칭 등</td>
				</tr>
				<tr>
				<td>6</td>
				<td>CIVILIZATION</td>
				<td>CVL</td>
				<td>문명 및 문화에 관련된 용어</td>
				</tr>
				<tr>
				<td>7</td>
				<td>DATE</td>
				<td>DAT</td>
				<td>날짜</td>
				</tr>
				<tr>
				<td>8</td>
				<td>TIME</td>
				<td>TIM</td>
				<td>시간</td>
				</tr>
				<tr>
				<td>9</td>
				<td>NUMBER</td>
				<td>NUM</td>
				<td>숫자</td>
				</tr>
				<tr>
				<td>10</td>
				<td>EVENT</td>
				<td>EVT</td>
				<td>특정 사건 및 사고 명칭과 행사 등</td>
				</tr>
				<tr>
				<td>11</td>
				<td>ANIMAL</td>
				<td>ANM</td>
				<td>동물</td>
				</tr>
				<tr>
				<td>12</td>
				<td>PLANT</td>
				<td>PLT</td>
				<td>식물</td>
				</tr>
				<tr>
				<td>13</td>
				<td>MATERIAL</td>
				<td>MAT</td>
				<td>금속, 암석, 화학물질 등</td>
				</tr>
				<tr>
				<td>14</td>
				<td>TERM</td>
				<td>TRM</td>
				<td>의학 용어, IT곤련 용어 등 일반 용어를 총칭</td>
				</tr>
				</tbody>
			  </table>
	  </font></div>
  </div>
  
</div>

<!-- PyBossa interface -->
<script>

function makeRadioButton(name, value, text, checked) {
    var div = document.createElement("div");
    var radio = document.createElement("input");
	
    radio.type = "radio";
    radio.name = name;
    radio.value = value;
	if(checked == 1) radio.checked=1;

    div.appendChild(radio);
	div.appendChild(document.createTextNode(text));
	
    return div;
};

pybossa.taskLoaded(function(task, deferred){
    if ( !$.isEmptyObject(task) ) {
        $("#loadingTask").hide();
        deferred.resolve(task);
        } // End if task empty
    else {
        deferred.resolve(task);
        }
});

pybossa.presentTask(function(task, deferred){
    if ( !$.isEmptyObject(task) ) {
        if (task.state == 'completed') {
            $('#nextbtn').hide();
            $('#taskcompleted').show();
        }

       if(task.info.sentence == 'Done') {
            $('#nextbtn').hide();
			pybossa.saveTask( task.id, -1, {}).done( function(data) { deferred.resolve(); });
			delete task;
		} else {
				$('#nextbtn').show();
//				$("#sentence h4").text(task.info.sentence);
				document.getElementById("sentence").innerHTML = "<h3>" + task.info.sentence + "</h3>";

				var radiolist = document.getElementById("candidate");
				var testbtn1 = makeRadioButton("candidate", task.info.candidate1, " " + task.info.candidate1, 1);
				var testbtn2 = makeRadioButton("candidate", task.info.candidate2, " " + task.info.candidate2, 0);
				var testbtn3 = makeRadioButton("candidate", task.info.candidate3, " " + task.info.candidate3, 0);
				var testbtn4 = makeRadioButton("candidate", "None", " I don't know");
				radiolist.innerHTML = ''; // radio type input init
				radiolist.appendChild(testbtn1);
				radiolist.appendChild(testbtn2);
				radiolist.appendChild(testbtn3);
				radiolist.appendChild(testbtn4);

				$("#wikicontent").text(task.info.ref);

				$("#task-id").text(task.id);
				$("#loadingTask").hide();
		}

        $(".btn-submit").off('click').on('click', function(evt){
			var chkval = document.getElementsByName('candidate');
			var answer;
			for(var i=0; i<chkval.length; i++){
				if(chkval[i].checked) { answer = chkval[i].value; }
			}
            console.log(answer);
            console.log(task.id);

		    // TODO: gt와 현재 answer가 같은지를 확인

		    // db에 현재 결과 저장
            pybossa.saveTask( task.id, task.info.score, {'candidate': task.info.candidate, 'select': answer}).done( function(data) {
                // Show the feedback div
                $("#success").fadeIn();
                // Fade out the pop-up after a 2000 miliseconds
                setTimeout(function() { $("#success").fadeOut() }, 2000);
                deferred.resolve();
            });
        });
    }
    else {
        $(".skeleton").hide();
        $("#loadingTask").hide();
        $("#finish").fadeIn();	
    }
});

pybossa.run('nertest');
</script>
