<div class='row'>
	{% for user in found %}
	<div class='col-sm-4 col-md-4'>
		<div {%if id%}id="{{id}}"{% endif %} class="thumbnail card">
			<div class="post-pic" style="background: rgb(0, 151, 167)url(
			{%- if user.info.avatar %}
			{%- if upload_method == 'rackspace'%}
			{{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}} 
			{%- else %}
			{{url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar))}}
			{% endif -%}
			{%- else %}
			{{ url_for('static', filename='img/placeholder.user.png')}}
			{% endif -%}
			) no-repeat center top; background-size: cover;">
			</div>
			<div class="caption">
				<h4>{{user.fullname}}</h4>
				<p class="add-orderer btn" id='{{user.id}}' name='add_orderer' style='color:#3bb0d4; cursor:pointer; font-weight: 600;'>
					발주자 추가
				</p>
			</div>
		</div>

	</div>
	{% endfor %}
</div>
