{% extends "/new_design/workspace/workspace_base.html" %}
{% set active_wisedome = 'project' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/new_design/css/basic/guideline.css">
<!--현재 페이지에만 들어가는 css-->
<!--<link rel="stylesheet" href="/static/new_design/css/workspace-text.css">-->
{% endblock %}



{% block content %}

<script src="/static/js/gen/full.min.js"></script>
<script src="/static/js/pybossa/pybossa.js"></script>
<script src="/static/js/pybossa-player/dist/pybossa-player.min.js"></script>

<!-- 메인 작업화면 -->
<div class="content-wrapper">

	{#<!--경쟁자 진행상황보기 배너-->
	<input type="checkbox" id="popup">
	<div class="wing">
		<label for="popup" class="wing_label">
			<img src="/static/new_design/images/podium.png" alt="popup img" id="podium">

			<div class="wing_contents">
				<img src="/static/new_design/images/trophy.png" class="trophy"><br>
				<p><span>{{current_user.fullname}}</span>님의 현재 답변완료수 <span id="answer_counts">0</span>개이며, 다른 사용자들의 평균 답변수는 <span id="average">0</span>개입니다. <br> &#10005;</p>
			</div> 
		</label> 
	</div>#}


	<div class="page-header">
		<h3 class="page-title" onclick="location.href='{{ url_for("project.details", short_name=project.short_name) }}'" style="cursor:pointer">
			<span class="page-title-icon bg-gradient-primary text-white"><i class="mdi mdi-heart"></i></span> 
			<!--감성 분석하기 /  프로젝트 이름 -->
			{{project.name}}
		</h3>
		<!--<nav aria-label="breadcrumb">
			<ul class="breadcrumb">
				<label for="controlbar controlbar-gradient-success"><i class="mdi mdi-format-size text-primary "></i> <span class="text-adjust">글자크기조절</span> 
					<input type="range" min=10 max=30 value=20 class="controlbar" data-fs-target-class="textsize"/>
				</label> 
				</li>
			</ul>
		</nav>-->
	</div>

	<!--컨텐츠 들어가는 영역-->
	<div class="row">
		<!-- 프로젝트 Template 추가 -->
		{{ project.info.task_presenter|safe }}

		<div class="col-12 grid-margin" id="finished" style="display:none;">
			<div class="card bg-white">
				<div class="card-body">
					<h4 class="card-title">FINISH</h4>
					<div class="row">
						<div class="col-xl-9 d-inline-flex">
							{% if project.one_day_max > 0 and project.complete == false %} <p class="card-description mt-3" style="font-size:large; color:#827676; margin-left: 1rem;"> 금일 할당량을 모두 채웠습니다. </p>
							{% elif project.complete or project.one_day_max == 0 %} <p class="card-description mt-3" style="font-size:large; color:#827676; margin-left: 1rem;"> 프로젝트를 완료하였습니다.</p>
							{% endif %}
						</div>
						<div class="col-xl-3 answers">    <!-- 홈으로 돌아가기 -->
							<h3>
								<a href="/">HOME<i class="mdi mdi-home menu-icon"></i></a>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!--가이드 라인 영역 (기존포맷 아니고 새로운포맷)-->
		<div class="col-md-12">
			<div class="card bg-white">
				<div class="card-body">

					<div id="accordion-1" class="accordion ">
						<div class="card">
							<div class="card-header " id="headingOne">
								<h5 class="mb-0">
									<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> <h6> <i class="mdi mdi-cards-playing-outline"></i>   이용방법</h6></a>
								</h5>
							</div>
							<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-1">
								<div class="card-body"> 
									{% if project.long_description != project.description  %}
									{{ project.long_description | markdown }}
									{% endif %}
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">   <h6> <i class="mdi mdi-assistant"></i>   예시보기</h6> </a>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-1">
								<div class="card-body"> 예시작업을 이곳에 넣어주세요</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


	</div>
</div>



<script src="/static/new_design/js/plugin/jquery.min.js"></script>
<script src="/static/new_design/js/accordion.js"></script>

<script>
	$(document).ready(function(){	
		var csrf = "{{ csrf_token() }}";
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
					xhr.setRequestHeader("X-CSRFToken", csrf)
				}
			}
		});
		get_answer_count();
	});
</script>

	<script>
		var answer_count = 0;


// 1일 할당량 함수
function get_answer_count() {
	var url = window.location.href;
	$.ajax({
		url: url,
		data: {
			"value": "user_answer_count"
		},
		type: 'POST',
		success: function(res) {
			data = JSON.parse(res);
			answer_count = data.count;

			answer_count_check();

		},
		error: function(request, error) {
			console.log(request);
			console.log(error);
		}
	});
}

// 1일 할당량 체크
function answer_count_check() {
	if (Number({{project.one_day_max}}) <= 0 )
		return;
	if (answer_count >= Number({{project.one_day_max}})) {
		$("#running").hide();
		$("#finished").fadeIn(500);
	}
}



	function setUserGraph() {
		var url = window.location.href;
		$.ajax({
			url:url,
			data: {"value": "ranking"},
			type: 'POST',
			success: function(res) {
				res = JSON.parse(res);
				//$("#answer_counts").text(res.my_count);
				//$("#average").text(res.people_count);
				console.log(res)

			},
			error:function(request, error) {
				console.log(request);
				console.log(error);
			}
		});
	}
</script>

<script>
	function openMenu(evt, menuName) {
		var i, tabcontent, tablinks,temp;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		temp = evt.currentTarget.className;
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}

		console.log(temp);
		if (temp !== "tablinks active"){
			evt.currentTarget.className += " active";
			document.getElementById(menuName).style.display = "block";
		}

	}

</script>

<script>
	function get_cookie(cname) {
		var name = cname + "=";
		var decodedCookie = decodeURIComponent(document.cookie);
		var ca = decodedCookie.split(';');
		for(var i = 0; i <ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
$(document).ready(function() {
	var c = get_cookie("answer_open");
	if(c == "yes")
		$("#form_div").show();
});


</script>

{% endblock %}
