
<link rel="stylesheet" href="/static/new_design/css/text-emotion.css">

<div class="content-wrapper">

	<!-- 메인 작업화면 -->
	<div class="page-header">
		<h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white"><i class="mdi mdi-apple-finder"></i></span>  &nbsp; 감정 선택하기</h3>
		<nav aria-label="breadcrumb">
			<ul class="breadcrumb">
				<label for="controlbar controlbar-gradient-success"><i class="mdi mdi-format-size text-primary"></i> <span class="text-adjust">글자크기조절</span> 
					<input type="range" min=10 max=30 value=10 class="controlbar" data-fs-target-class="textsize"/>
				</label>
			</ul>
		</nav>
	</div>


	<!--문제 들어가는 영역-->
	<div class="row">
		<div class="col-12 grid-margin stretch-card">
			<div class="card bg-white">
				<div class="card-body" id="text_sample">
					<h4 class="card-title"><i class="mdi mdi-label"></i>  &nbsp; 다음 전체 대화를 읽고 해당 문장에 대한 대화자의 감정을 선택해주세요</h4>
					<div class="row">
						<div class="col-xl-9 ">
							<pre class="textsize">
A: 야! 너 이번 주에 운동 한번도 안 나왔더라?
B: 아… 이번 주는 아무래도 운동 못갈 것 같아. 시험기간이라서 피곤해.
A: 올? 너 공부 좀 빡세게 하나 보다? 니가 언제부터 공부를 그렇게 열심히 했냐?
B: 야, 내가 평소에 좀 놀아서 그렇지, 그래도 시험기간에는 빡세게 했거든 언제나?
A: 아니 왜 또 발끈하고 그래.
<span class="highlight">B: 발끈하긴 뭘 발끈해, 니가 말도 안 되는 소리를 하니까 그렇지.</span>
</pre>
						</div>

						<div class="col-xl-3  answers emotion8">  
							<button type="radio" class="btn btn-inverse-primary btn-text-sample"><i class="mdi mdi-emoticon"></i> 기쁨</button>
							<button type="radio" class="btn btn-inverse-primary btn-text-sample"><i class="mdi mdi-emoticon-happy"></i> 놀람</button>
							<button type="radio" class="btn computer-select btn-text-sample"><i class="mdi mdi-emoticon-devil"></i> 분노</button>
							<button type="radio" class="btn btn-inverse-primary btn-text-sample"><i class="mdi mdi-emoticon-sad"></i> 슬픔</button>
							<button type="radio" class="btn btn-inverse-primary btn-text-sample"><i class="mdi mdi-emoticon-poop"></i> 혐오</button>
							<button type="radio" class="btn human-select btn-text-sample"><i class="mdi mdi-emoticon-cool"></i> 공포</button>
							<button type="radio" class="btn btn-inverse-primary btn-text-sample"><i class="mdi mdi-emoticon-tongue"></i> 경멸</button>
							<button type="radio" class="btn btn-inverse-primary btn-text-sample"><i class="mdi mdi-emoticon-neutral"></i> 중립</button>   
							<div class=" popup card-inverse-secondary">
								<ul class="list-arrow">
									<h6>버튼 컬러별 답변 참고</h6>
									<li class="list-group-item"> <span class="badge computer-select">분홍색</span>   :  컴퓨터 제시 답안   </li>
									<li class="list-group-item"> <span class="badge human-select">주황색</span>  :  사람 제시 답안 </li>
									<li class="list-group-item"> <span class="badge human-select">주황색</span>  :  컴퓨터 + 사람   공통으로 제시된 답안 </li>
									<i class="mdi mdi-close text-success" id="bannerClose"></i> 
								</ul> 
							</div>   
							<i class="mdi mdi-comment-alert-outline text-success" id="bannerOpen">컬러별 버튼 의미</i>

						</div>
					</div>
				</div>

				<div id="success-text" style="display:none;">
				{% include "/new_design/workspace/success_sample.html" %}
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/new_design/js/jquery.min.js"></script>
	<script>
			$(".btn-text-sample").on('click', function(evt){
				$("#text_sample").hide();
				$("#success-text").show();
			});
	</script>

