<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="csrf-token" content="">
	<title>Wisedome</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/new_design/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/new_design/css/function/vendor.bundle.base.css">
    <!--기본 css-->
    <link rel="stylesheet" href="/static/new_design/css/basic/dashboard-basic.css">
    <link rel="stylesheet" href="/static/new_design/css/function/darkmode.css">

	{% block css %}{% endblock %}
 
  </head>
  <body>

	  {% macro render_user_thumbnail(user, upload_method) -%}
	  {% if user.info.avatar %}
	  {% if upload_method == 'rackspace'%}
	  {{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}}" onError="this.onerror=null;this.src='{{url_for('static', filename='new_design/images/user-default.png')}}';
	  {% else %}
	  {{ url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar))}}" onError="this.onerror=null;this.src='{{url_for('static', filename='new_design/images/user-default.png')}}';
	  {% endif %}
	  {% else %}
	  {{ url_for('static', filename='new_design/images/user-default.png')}}
	  {% endif %}
	  {%- endmacro %}


    <div class="container-scroller">
         <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
			<a class="navbar-brand brand-logo" href="{{ url_for('home.home') }}"><img src="/static/new_design/images/wisedome-logo-white.png" alt="logo" /></a>
			<a class="navbar-brand brand-logo-mini" href="{{ url_for('home.home') }}"><img src="/static/new_design/images/wisedome-logo.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
		  <!--
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="검색어를 입력하세요">
              </div>
            </form>
          </div>
		  -->
          <ul class="navbar-nav navbar-nav-right"><!-- 나의 프로필 사진과 설정-->
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
					<img src="{{ render_user_thumbnail(current_user, upload_method) }}" alt="{{current_user.name}}">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
					<p class="mb-1">{{current_user.name}}</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
				  <a class="dropdown-item " href="{{ url_for('account.profile', name=current_user.name) }}">
                  <i class="mdi mdi mdi-account-circle mr-2 text-success"></i>  나의프로필 </a>
                <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{ url_for('account.signout') }}">
                  <i class="mdi mdi-logout mr-2 text-primary"></i>  로그아웃 </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link"><!---스크린 확대 아이콘-->
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item dropdown"><!--메세지 확인 아이콘-->
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-email-outline"></i>
                <span class="count-symbol bg-warning"></span>
              </a>
			  <!--
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">메세지</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/static/new_design/images/face5.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column">
                    <p class="preview-subject mb-1 ellipsis">메세지가 도착했습니다</ㅔ>
                    <p class="mb-0 "> 1분전 </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/static/new_design/images/face5.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column">
                    <p class="preview-subject mb-1 ellipsis">프로필이 업데이트 되었습니다</p>
                    <p class="mb-0"> 15분전 </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/static/new_design/images/user-default.png" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column">
                    <p class="preview-subject mb-1 ellipsis">작업물이 1건 반려되었습니다</p>
                    <p class="mb-0"> 18분전</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center ellipsis">4개의 새로운 메세지</h6>
              </div>
			  -->
            </li>

            <li class="nav-item dropdown"><!--공지사항 아이콘-->
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
			  <!--
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">공지사항</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-calendar"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column">
                    <h6 class="preview-subject mb-1 ">프로젝트 마감</h6>
                    <p class="ellipsis mb-0"> 참여했던 프로젝트가 오늘 마감됩니다</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="mdi mdi-settings"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column">
                    <h6 class="preview-subject mb-1 ">설정</h6>
                    <p class="ellipsis mb-0"> 비밀번호를 주기적으로 변경해주세요 </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-link-variant"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column">
                    <h6 class="preview-subject mb-1 ">새로운 프로젝트</h6>
                    <p class="ellipsis mb-0"> 당신에게 적합한 새로운 프로젝트를 추천합니다 </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">모두보기</h6>
              </div>
			  -->
			<li class="nav-item">
				<div class="nav-link">
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="darkSwitch">
						<label class="custom-control-label" for="darkSwitch"></label> 
					</div>
				</div>
			</li>

		  </ul>
		  <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
			  <span class="mdi mdi-menu"></span><!--모바일화면일때 햄버거버튼-->
          </button>
        </div>
      </nav>

      
 <!--왼쪽 사이드바 -->
      <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
				<a href="{{url_for('account.profile', name=current_user.name)}}" class="nav-link">
                <div class="nav-profile-image">
					<img src="{{ render_user_thumbnail(current_user, upload_method) }}" alt="{{current_user.name}}">
                  <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
					<span class="font-weight-bold mb-2">{{current_user.name}}</span>
                  <span class="text-secondary text-small">초급자</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>

            <li class="nav-item active">
				<a class="nav-link" href="{{ url_for('home.home') }}">
                <span class="menu-title ">HOME</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">나의 프로젝트</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-ticket-account menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('project.index') }}">진행중 프로젝트</a></li>
					<!-- <li class="nav-item"> <a class="nav-link" href="#">새로운 프로젝트</a></li> -->
                </ul>
              </div>
            </li>
            <li class="nav-item">
				<a class="nav-link" href="{{ url_for('account.profile', name=current_user.name) }}">
                <span class="menu-title">포인트</span>
                <i class="mdi mdi-trophy-variant menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">답변관리</span>
                <i class="mdi mdi-message-text menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">질문게시판</span>
                <i class="mdi mdi-human-greeting menu-icon"></i>
              </a>
            </li>
			{% if current_user.orderer != [] or current_user.admin == 1 %}
            <li class="nav-item">
				<a class="nav-link" href="{{ url_for('orderer.index') }}">
                <span class="menu-title">발주자 사이트</span>
                <i class="mdi mdi-server-network menu-icon"></i>
              </a>
            </li>
			{% endif %}
			{% if current_user.admin == 1 %}
            <li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">관리자 페이지</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-settings menu-icon"></i>
              </a>
              <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.dashboard') }}"> 상황판 </a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.categories') }}"> 카테고리 </a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.featured') }}"> 프리미엄 프로젝트 </a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.show_point_log') }}"> 포인트</a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.manage_exchange') }}"> 환급 </a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.export_users', format='csv') }}"> 사용자 CSV</a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.export_users', format='json') }}"> 사용자 JSON</a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.users') }}"> 관리자 목록</a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('gmail.login') }}"> Gmail 생성</a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.back_up') }}"> DB백업 </a></li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.restore') }}"> DB복원 </a></li>
                </ul>
              </div>
            </li>
			{% endif %}
            <li class="nav-item sidebar-actions">
              <span class="nav-link">
                <div class="border-bottom"></div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4">
                  <i class="mdi mdi-cash-multiple"></i> 포인트 전환</button>
                  <br>
                <div class="border-bottom"></div>
              </span>
            </li>
          </ul>
        </nav>
<!--여기까지가 기본 nav -->

	<div class="main-panel">
		<link rel="stylesheet" href="/static/new_design/css/flash_messages.css">
		<script type="text/javascript" src="/static/js/vendor/jquery-2.2.3.js"></script>
		<script type="text/javascript" src="/static/js/flashmessages.js"></script>
		{% include "_flash_messages.html" %}
		<!-- block content는 main-panel 사이의 내용만 입력한다. -->

	{% block content %}{% endblock %}

<!-- FOOTER -->
<!-- footer 부분 css가 겹치는 오류로 인해 100%를 함 -->
          <footer class="footer" style="width:100%;">
            <div class="d-flex justify-content-center">
              <span class="text-muted">Copyright © 2020 <a href="#" target="_blank">Data.ly</a>. All rights reserved.</span>
              </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js 기본 필수로 들어가는 JS파일-->
    <script src="/static/new_design/js/vendor.bundle.base.js"></script>
    <script src="/static/new_design/js/off-canvas.js"></script>
    <script src="/static/new_design/js/hoverable-collapse.js"></script>
    <script src="/static/new_design/js/misc.js"></script>
	<script src="/static/new_design/js/darkmode.js"></script>

  </body>
</html>
