<!DOCTYPE html>
<html lang="kor">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="csrf-token" content="">
		<title>Wisedome</title>
		<!-- plugins:css -->
		<link rel="stylesheet" href="/static/new_design/assets/vendors/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="/static/new_design/css/function/vendor.bundle.base.css">
		<!--기본 css-->
		<link rel="stylesheet" href="/static/new_design/css/basic/dashboard-basic.css">
		<link rel="stylesheet" href="/static/new_design/css/function/darkmode.css">

		{% block css %}{% endblock %}

	</head>
	<body>

		{% macro render_user_thumbnail(user, upload_method) -%}
		{% if user.info.avatar %}
		{% if upload_method == 'rackspace'%}
		{{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}}" onError="this.onerror=null;this.src='{{url_for('static', filename='new_design/images/user-default.png')}}';
		{% else %}
		{{ url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar))}}" onError="this.onerror=null;this.src='{{url_for('static', filename='new_design/images/user-default.png')}}';
		{% endif %}
		{% else %}
		{{ url_for('static', filename='new_design/images/user-default.png')}}
		{% endif %}
		{%- endmacro %}


		<div class="container-scroller">
			<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
				<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
					<a class="navbar-brand brand-logo" href="{{ url_for('home.home') }}"><img src="/static/new_design/images/wisedome-logo-white.png" alt="logo" /></a>
					<a class="navbar-brand brand-logo-mini" href="{{ url_for('home.home') }}"><img src="/static/new_design/images/wisedome-logo-sm.png" alt="logo" /></a>
				</div>
				<div class="navbar-menu-wrapper d-flex align-items-stretch">
					<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" style="display:none;"><!--display:none;-->
						<span class="mdi mdi-format-horizontal-align-left" onclick="intend(this)"></span>
						<!-- 아이콘 버튼 사이드바 펼침 및 닫기 아이콘-->
					</button>
					<ul class="navbar-nav navbar-nav-right"><!-- 나의 프로필 사진과 설정-->
						{% if current_user.is_authenticated %}
						<li class="nav-item nav-profile dropdown">
							<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
								<div class="nav-profile-img">
									<img src="{{ render_user_thumbnail(current_user, upload_method) }}" alt="{{current_user.name}}">
									<span class="availability-status online"></span>
								</div>
								<div class="nav-profile-text">
									<p class="mb-1">{{current_user.name}}</p>
								</div>
							</a>
							<div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
								<a class="dropdown-item " href="{{ url_for('account.profile', name=current_user.name) }}">
									<i class="mdi mdi mdi-account-circle mr-2 text-success"></i>  마이페이지 </a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ url_for('account.signout') }}">
									<i class="mdi mdi-logout mr-2 text-primary"></i>  로그아웃 </a>
							</div>
						</li>
						{% else %}
						<li><a href="{{ url_for('account.signin') }}"> 로그인 </a></li>
						{% endif %}
						<li class="nav-item d-none d-lg-block full-screen-link"><!---스크린 확대 아이콘-->
							<a class="nav-link">
								<i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
							</a>
						</li>

						<!-- 다크모드
						<li class="nav-item">
							<div class="nav-link">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="darkSwitch">
									<label class="custom-control-label" for="darkSwitch"></label> 
								</div>
							</div>
						</li>
						-->

					</ul>
					<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
						<span class="mdi mdi-menu"></span><!--모바일화면일때 햄버거버튼-->
					</button>
				</div>
			</nav>


			<!--왼쪽 사이드바 -->
			<div class="container-fluid page-body-wrapper">

				<nav class="sidebar sidebar-offcanvas" id="sidebar">
					<ul class="nav">
						{% if current_user.is_authenticated %}
						<li class="nav-item nav-profile">
							<a href="{{url_for('account.profile', name=current_user.name)}}" class="nav-link">
								<div class="nav-profile-image">
									<img src="{{ render_user_thumbnail(current_user, upload_method) }}" alt="{{current_user.name}}">
									<span class="login-status online"></span>
								</div>
								<div class="nav-profile-text d-flex flex-column">
									<span class="font-weight-bold mb-2">{{current_user.name}}</span>
									<span class="text-secondary text-small">초급자</span>
								</div>
								<i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
							</a>
						</li>
						{% endif %}

						<li class="nav-item {% if active_wisedome == 'home' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('home.home') }}">
								<span class="menu-title ">HOME</span>
								<i class="mdi mdi-home menu-icon"></i>
							</a>
						</li>

						<li class="nav-item {% if active_wisedome == 'project' %} active{% endif %}">
							<a class="nav-link" href="{{ url_for('project.index') }}">
								<span class="menu-title">프로젝트</span>
								<i class="mdi mdi-apps menu-icon"></i>
							</a>
						</li>

						{#<li class="nav-item {% if active_wisedome == 'point' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('home.faq') }}">
								<span class="menu-title">FAQ</span>
								<i class="mdi mdi-trophy-variant menu-icon"></i>
							</a>
						</li>#}

						<li class="nav-item {% if active_wisedome == 'qna' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('home.qna') }}">
								<span class="menu-title">질문게시판</span>
								<i class="mdi mdi-human-greeting menu-icon"></i>
							</a>
						</li>
						{#{% if current_user.orderer != [] or current_user.admin == 1 %}
						<li class="nav-item {% if active_page == 'orderer' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('orderer.index') }}">
								<span class="menu-title">발주자 사이트</span>
								<i class="mdi mdi-server-network menu-icon"></i>
							</a>
						</li>
						{% endif %}#}
						{% if current_user.admin == 1 %}

						<li class="nav-item {% if active_wisedome == 'admin' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('admin.index') }}">
								<span class="menu-title">관리자 사이트</span>
								<i class="mdi mdi-settings menu-icon"></i>
							</a>
						</li>

						{#<li class="nav-item {% if active_page == 'admin' %} active {% endif %}">
							<a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
								<span class="menu-title">관리자 페이지</span>
								<i class="menu-arrow"></i>
								<i class="mdi mdi-settings menu-icon"></i>
							</a>
							<div class="collapse" id="general-pages">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.index') }}"> 관리자페이지 </a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.dashboard') }}"> 상황판 </a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.featured') }}"> 프리미엄 프로젝트 </a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.show_point_log') }}"> 포인트</a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.manage_exchange') }}"> 환급 </a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.export_users', format='csv') }}"> 사용자 CSV</a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.export_users', format='json') }}"> 사용자 JSON</a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.users') }}"> 관리자 목록</a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('gmail.login') }}"> Gmail 생성</a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.back_up') }}"> DB백업 </a></li>
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('admin.restore') }}"> DB복원 </a></li>
								</ul>
							</div>
						</li>#}
						{% endif %}
						<li class="nav-item sidebar-actions">
							<a class="nav-link" href="{{ url_for('account.exchange', name=current_user.name) }}">
								<div class="border-bottom"></div>
								<button class="btn btn-block btn-lg btn-gradient-primary mt-4 reward-btn">
									<i class="mdi mdi-cash-multiple"></i> 포인트 전환</button>
								<br>
								<div class="border-bottom"></div>
							</a>
						</li>
					</ul>
				</nav>
				<!--여기까지가 기본 nav -->

				<div class="main-panel">
					<link rel="stylesheet" href="/static/new_design/css/flash_messages.css">
					<script type="text/javascript" src="/static/js/vendor/jquery-2.2.3.js"></script>
					<script type="text/javascript" src="/static/js/flashmessages.js"></script>

					<div class="flash_messages">
						{% include "_flash_messages.html" %}
					</div>
					<!-- block content는 main-panel 사이의 내용만 입력한다. -->

					{% block content %}{% endblock %}

					<!-- FOOTER -->
					<footer class="footer bg-white">
						<div class="d-flex justify-content-center">
							<span class="text-muted">Copyright © 2021 <a href="{{url_for('home.home')}}">Wisedome</a> All rights reserved.</span>
						</div>
					</footer>


					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->

		<!-- plugins:js 기본 필수로 들어가는 JS파일-->
		<script src="/static/new_design/js/plugin/vendor.bundle.base.js"></script>
		<script src="/static/new_design/js/plugin/off-canvas.js"></script>
		<script src="/static/new_design/js/plugin/hoverable-collapse.js"></script>
		<script src="/static/new_design/js/plugin/misc.js"></script>
		<script src="/static/new_design/js/darkmode.js"></script>

	</body>
</html>
