
.homepage #header {
height:auto;
}

/* main */
#main{
padding: 5em 10em;
}

.main-text{
  width: 60%;
  padding-right: 2.5em;
  font-size: 1em;
}
.main-banner{
  width: 35%;
}


/***2. 카테고리별 프로젝트***/
#category {
	padding: 5em 6em 1em 6em ;
}

.ctg {
	width: 20%;
  padding: 2em 1em;
	margin:0 1em;
}

/*3. 진행중인 프로젝트**/
#project {
  padding: 5em 1em ;
}
.pro{
  width: 30%;
}


.pro figcaption {
  padding: 1em  ;
  top: calc(80%);
}
.pro h3{
  font-size: 1em;
  }

  .level{ 
    margin-bottom:0.5em;
    width: 65px;
    height: 17px;
    line-height: 17px;
    font-size:0.8em ;
    }
  
/**4.포인트킹***/
#PointRank{
	margin:5em 0;
  padding: 0 5em;
  }

.profile-name{
font-size: 1em;
}
.myRank li{
  font-size: 0.7em;
}

.profile{
  max-height: 380px;
}